@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {

    scroll-behavior: inherit;
	
	--nm-font-1: "Space Grotesk", sans-serif;
	--nm-font-2: "Inter", sans-serif;
    
	--nm-clr-pr-1: #d6f345;
	--nm-clr-pr-2: #005aff;

	--nm-clr-sd-1: #dddd;

	--nm-clr-h-1: #090b28;
	
	--nm-clr-p-1: #b5b5b5;

	--nm-clr-black-1: #171619;
	--nm-clr-black-2: #111111;
	--nm-clr-black-3: #282828;

	--nm-clr-gd-1: linear-gradient( 62deg, rgb(9,229,255) 0%, rgb(8,35,242) 100%);

	--nm-cube-1: all .4s cubic-bezier(0, 0, 0.2, 1);
	
}

$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'(max-width: 767px)';
