/*
    05. button
*/


/* 
    button-start
*/

.nm-offcanvas-btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--nm-clr-black-1);
    background: var(--nm-clr-pr-1);
}


.nm-pr-btn-1 {
    font-family: var(--nm-font-2);
    background: var(--nm-clr-pr-1);
    font-weight: 600;
    border-radius: 100px;
    padding: 6px;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
    color: var(--nm-clr-black-1);
    font-size: 20px;
    overflow: hidden;
    transition: var(--nm-cube-1);

    .icon {
        flex: 0 0 auto;
        width: 53px;
        height: 53px;
        background: var(--nm-clr-black-1);
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        position: relative;
        z-index: 1;
        transition: var(--nm-cube-1);
        overflow: hidden;

        i {
            transition: var(--nm-cube-1);
            &:nth-child(1) {
                position: absolute;
                transform: translateX(-50px);
            }
            &:nth-child(2) {
                position: relative;
            }
        }

    }


    .text {
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            top: 0;
            left: 0;
            // opacity: 0;
            width: 100%;
            display: block;
            transition: var(--nm-cube-1);
            position: absolute;
            content: attr(data-back);
            transform: translateY(100%);
        }
    
        &::before {
            top: 0;
            left: 0;
            // opacity: 1;
            display: block;
            transition: var(--nm-cube-1);
            position: relative;
            content: attr(data-front);
            transform: translateY(0);
        }

    }
    

    &:hover {
        .icon {
            i {
                &:nth-child(1) {
                    transform: translateX(0px);
                }
                &:nth-child(2) {
                    transform: translateX(50px);
                }
            }  
        }
        .text {
            &::after {
                // opacity: 1;
                transform: translateY(0%);
            }
            &::before {
                // opacity: 0;
                transform: translateY(-100%);
            }
        }
    }

    &:is(.has-v2) {
        background: var(--nm-clr-black-3);
        color: #fff;
        font-size: 16px;

        .icon {
            width: 42px;
            height: 42px;
            background: var(--nm-clr-pr-1);
            color: var(--nm-clr-black-1);
            font-size: 16px;
        }

        &:hover {
            background: var(--nm-clr-pr-1);
            color: #000;
            .icon {
                background: #000;
                color: var(--nm-clr-pr-1);
            }
            
        }
    }
}

.nm-pr-btn-2 {
    font-family: var(--nm-font-2);
    font-weight: 700;
    font-size: 16px;
    color: #141414;
    background: #fffbf5;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    padding: 2px;
    padding-right: 16px;

    .icon {
        width: 42px;
        height: 46px;
        background: linear-gradient( -90deg, rgb(20,20,20) 0%, rgb(67,67,67) 100%);
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border-radius: 8px;
    }
    
}

.nm-hero-1-plybtn {
    flex: 0 0 auto;
    width: 115px;
    height: 115px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 50%;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 50%);
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
        z-index: -1;
        border-radius: 50%;
        transform: scale(.7);
        transition: var(--nm-cube-1);
    }

    .bg-elm {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 50%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        color: var(--nm-clr-black-1);
        &::after {
            background: var(--nm-clr-pr-1);
            transform: scale(.5);
        }
    }
}


.nm-slider-btn-1 {
    overflow: hidden;
    width: 66px;
    height: 66px;
    background: #1f1f1f;
    border-radius: 50%;
    color: rgb(255 255 255 / 70%);
    font-size: 25px;
    cursor: pointer;
    transition: var(--nm-cube-1);

    .icon {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        i {
            transition: var(--nm-cube-1);
            &:nth-child(1) {
                position: absolute;
                transform: translateX(-50px);
            }
            &:nth-child(2) {
                position: relative;
            }
        }
    }
    &:hover {
        background: #fff;
        color: #000;
        .icon {
            i {
                &:nth-child(1) {
                    transform: translateX(0);
                }
                &:nth-child(2) {
                    transform: translateX(50px);
                }
            }
        }
    }

    &:is(.has-left) {
        .icon {
    
            i {
                transition: var(--nm-cube-1);
                &:nth-child(1) {
                    transform: translateX(50px);
                }
            }
        }
        &:hover {
            .icon {
                i {
                    &:nth-child(1) {
                        transform: translateX(0%);
                    }
                    &:nth-child(2) {
                        transform: translateX(-50px);
                    }
                }
            }
        }
     
    }
}

/* 
    button-end
*/