/*
    05. button
*/


/* 
    button-start
*/

.nm-offcanvas-btn-1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    font-size: 28px;
    color: var(--nm-clr-black-1);
    background: var(--nm-clr-pr-1);
}

.nm-pr-btn-1 {
    font-family: var(--nm-font-2);
    background: var(--nm-clr-pr-1);
    font-weight: 600;
    border-radius: 100px;
    padding: 6px;
    flex: 0 0 auto;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    padding-right: 30px;
    color: var(--nm-clr-black-1);

    .icon {
        flex: 0 0 auto;
        width: 53px;
        height: 53px;
        background: var(--nm-clr-black-1);
        color: #fff;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    &:is(.has-v2) {
        background: #282828;
        color: #fff;

        .icon {
            width: 40px;
            height: 40px;
            background: var(--nm-clr-pr-1);
            color: var(--nm-clr-black-1);
            font-size: 16px;
        }
    }
}


.nm-hero-1-plybtn {
    flex: 0 0 auto;
    width: 115px;
    height: 115px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    position: relative;
    z-index: 1;
    border-radius: 50%;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 50%);
        position: absolute;
        top: 0;
        left: 0;
        backdrop-filter: blur(4px);
        z-index: -1;
        border-radius: 50%;
        transform: scale(.7);
        transition: var(--nm-cube-1);
    }

    .bg-elm {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 50%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &:hover {
        color: var(--nm-clr-black-1);
        &::after {
            background: var(--nm-clr-pr-1);
            transform: scale(.5);
        }
    }
}




/* 
    button-end
*/