/* 
    custom-container-start
*/
@media (min-width: 1400px) {
    .container{
        &.nm-container-1 {
            max-width: 1290px;
        }
        &.nm-container-2 {
            max-width: 1304px;
        }
        &.nm-container-3 {
            max-width: 1344px;
        }
    }
}

/* 
    custom-container-end
*/