/*
    12. element
*/

/* 
    elements-start
*/
.kk-social-1 {
    display: flex;
    align-items: center;
    gap: 20px;

    .link-elm {
        color: #fff;
        font-size: 16px;
        transition: var(--kk-cube-1);

        &:hover {
            transform: translateX(3px);
        }
    }
}


.nm-bg-shadow {
    width: 100px;
    height: 100px;
    background: var(--nm-clr-pr-1);
    filter: blur(60px);
    animation: nm-Firefly-ani-after 2s linear infinite;
}
/* 
    elements-end
*/