/*
    12. element
*/

/* 
    elements-start
*/
.kk-social-1 {
    display: flex;
    align-items: center;
    gap: 20px;

    .link-elm {
        color: #fff;
        font-size: 16px;
        transition: var(--kk-cube-1);

        &:hover {
            transform: translateX(3px);
        }
    }
}
/* 
    elements-end
*/