/*
    09. preloader
*/


/* 
	preloader-css-start
*/

.nm-preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: var(--nm-clr-black-2);
    transition: 0.5s;

	&-logo {
		text-align: center;
		margin-bottom: 15px;
	}
	
	&-text {
		font-family: var(--nm-font-1);
		font-weight: 900;
		font-size: 60px;
		background-image:  linear-gradient(90deg,rgba(214, 243, 69, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(214, 243, 69, 1) 100%);
		background-repeat: no-repeat;
		background-size: 600% 100%; // Initially 0%
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		// -webkit-text-stroke: 1px #fff;
		transition: 0.4s ;
		line-height: 1;
		animation: nmPreloaderKf 4s linear infinite;
	}
	&:is(.preloaded) {
		opacity: 0;
		transform: scale(102%);
		transition-delay: .5s;

		.nm-preloader-text {
			transform: translateY(-100%);
		}
	}
}

@keyframes nmPreloaderKf {
	0% {
	background-position-x: 0;
	}
	50% {
background-position-x: 100%;
	}
	100% {
background-position-x: 0;
	}
}

/* 
	preloader-css-end
*/

