/*
    09. preloader
*/


/* 
	preloader-css-start
*/

.tn-preloader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: var(--nm-clr-black-2);
    transition: 0.5s;

	.logo {
		text-align: center;
	}
	
	.loader {
		width: 10px;
		height: 10px;
		border-radius: 0%;
		display: block;
		margin:15px auto;
		position: relative;
		color: #FFF;
		left: -110px;
		box-sizing: border-box;
		animation: shadowRolling 2s linear infinite;
	  }
	  
	  @keyframes shadowRolling {
		0% {
		  box-shadow: 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
		}
		12% {
		  box-shadow: 100px 0 var(--nm-clr-pr-1), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
		}
		25% {
		  box-shadow: 110px 0 var(--nm-clr-pr-1), 100px 0 var(--nm-clr-pr-1), 0px 0 rgba(255, 255, 255, 0), 0px 0 rgba(255, 255, 255, 0);
		}
		36% {
		  box-shadow: 120px 0 var(--nm-clr-pr-1), 110px 0 var(--nm-clr-pr-1), 100px 0 var(--nm-clr-pr-1), 0px 0 rgba(255, 255, 255, 0);
		}
		50% {
		  box-shadow: 130px 0 var(--nm-clr-pr-1), 120px 0 var(--nm-clr-pr-1), 110px 0 var(--nm-clr-pr-1), 100px 0 var(--nm-clr-pr-1);
		}
		62% {
		  box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--nm-clr-pr-1), 120px 0 var(--nm-clr-pr-1), 110px 0 var(--nm-clr-pr-1);
		}
		75% {
		  box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--nm-clr-pr-1), 120px 0 var(--nm-clr-pr-1);
		}
		87% {
		  box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 var(--nm-clr-pr-1);
		}
		100% {
		  box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
		}
	  }

	&:is(.preloaded) {
		opacity: 0;
		transform: scale(102%);
		transition-delay: .5s;

	}
}

  

/* 
	preloader-css-end
*/

