/*
    03. typography
*/

/* 
    typography-start
*/
.nm-h-1 {
    font-family: var(--nm-font-2);
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}


.nm-p-1 {
    font-family: var(--nm-font-2);
    font-size: 18px;
    line-height: 1.666;
    font-weight: 400;
    color: var(--nm-clr-p-1);
    margin-bottom: 0;

    b {
        color: #fff;
    }
}


.nm-subtitle-1 {
    font-family: var(--nm-font-2);
    color: #838383;
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    gap: 13px;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 20px;

    .dot {
        width: 11px;
        height: 11px;
        background: var(--nm-clr-pr-1);
        border-radius: 50%;
        flex: 0 0 auto;
        box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
    }
}


.nm-sec-title-1 {
    font-family: var(--nm-font-2);
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;

    @media #{$xl} {
        font-size: 55px;
    }

    @media #{$lg} {
        font-size: 50px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 35px;
    }

    @media #{$sm} {
        font-size: 40px;
    }
}



/* 
    typography-end
*/