/*
    03. typography
*/

/* 
    typography-start
*/
.nm-h-1 {
    font-family: var(--nm-font-2);
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}

.nm-h-2 {
    font-family: var(--nm-font-1);
    line-height: 1.176;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.025em;
    margin-bottom: 0;
}


.nm-p-1 {
    font-family: var(--nm-font-2);
    font-size: 18px;
    line-height: 1.666;
    font-weight: 400;
    color: var(--nm-clr-p-1);
    margin-bottom: 0;

    b {
        color: #fff;
    }
}


.nm-subtitle-1 {
    font-family: var(--nm-font-2);
    color: #838383;
    font-size: 18px;
    font-weight: 500;
    display: inline-flex;
    gap: 13px;
    align-items: center;
    line-height: 1.5;
    margin-bottom: 20px;
    perspective: 2000px;
    transform-style: preserve-3d;

    .dot {
        width: 11px;
        height: 11px;
        background: var(--nm-clr-pr-1);
        border-radius: 50%;
        flex: 0 0 auto;
        box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
        animation: subtitleDot1kf 2s linear infinite;
    }
}

@keyframes subtitleDot1kf {
    0% {
        opacity: .3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}


.nm-subtitle-2 {
    font-family: var(--nm-font-2);
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;

    @media #{$xs} {
        width: 100%;
    }

    .icon {
        line-height: .9;
        background: linear-gradient(0deg, rgb(0 0 0 / 20%) 0%, rgba(255, 255, 255, 1) 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;

        &:is(.has-h3-gd-text) {
            background: var(--nm-clr-gd-3);
            background-clip: text;
        }
    }

    .text {
        flex: 0 0 auto;
    }

    .line {
        max-width: 175px;
        height: 2px;
        background: linear-gradient(90deg,rgba(255, 255, 255, 1) 87%, rgba(0, 0, 0, 0) 100%);
        opacity: .4;
        flex: 0 0 auto;
        width: 100%;
        transform-origin: left;
        
        
        @media #{$xs} {
            max-width: 100%;
            flex: unset;
        }
    }
}


.nm-sec-title-1 {
    font-family: var(--nm-font-2);
    color: #fff;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;

    @media #{$xl} {
        font-size: 55px;
    }

    @media #{$lg} {
        font-size: 50px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 35px;
    }

    @media #{$sm} {
        font-size: 40px;
    }
}


.nm-sec-title-2 {
    font-family: var(--nm-font-1);
    color: #fff;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.025em;
    margin-bottom: 0;
    font-size: 65px;

    @media #{$xl} {
        font-size: 60px;
    }

    @media #{$lg} {
        font-size: 50px;
    }

    @media #{$md} {
        font-size: 45px;
    }

    @media #{$xs} {
        font-size: 35px;
    }

    @media #{$sm} {
        font-size: 40px;
    }
}

.wa_bg_position {
    div {
        background-size: 200% 100%;
        background-position-x: 100%;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(to right, rgb(255, 255, 255) 50%, rgba(104, 104, 104, 0.50) 50%);
        padding-bottom: 7px;

        &:not(:first-child) {
            margin-top: -7px;
        }
    }

}

/* 
    typography-end
*/