/*
    11. wow-plus
*/

/* 
    wow-plus-start
*/
@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 500ms;
  animation-timing-function: var(--nm-cube-1);
}


@keyframes   waRotateX {
    0% {
      transform: rotateX(-90deg) translateZ(20px);
    }

    100% {
      transform: rotateX(0deg) translateZ(0px);
    }
}

.waRotateX {
    -webkit-animation-name: waRotateX;
    animation-name: waRotateX;
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.48, 0.63, 0.62, 1.58);
}












  














@keyframes waRotation360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


@keyframes waRotation360minus {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


/* 
    wow-plus-end
*/
