/*
    11. wow-plus
*/

/* 
    wow-plus-start
*/
@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 600ms;
  animation-timing-function: var(--nm-cube-1);
}


@keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
  animation-duration: 500ms;
  animation-timing-function: var(--nm-cube-1);
}


@keyframes   waRotateX {
    0% {
      transform: rotateX(-90deg) translateZ(20px);
    }

    100% {
      transform: rotateX(0deg) translateZ(0px);
    }
}

.waRotateX {
    -webkit-animation-name: waRotateX;
    animation-name: waRotateX;
    animation-duration: 1s; 
    animation-timing-function: cubic-bezier(0.48, 0.63, 0.62, 1.58);
}



@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 800ms;
  animation-timing-function: var(--nm-cube-1);
}


.wa-pp-2000 {
  perspective: 2000px;
  transform-style: preserve-3d;
}

@keyframes slideRightUp2 {
  0% {
      transform: rotateY(-26deg) rotateZ(-3deg) translate3d(0px, 23px, 15px);
      opacity: 0;
      transform-origin: right top;
  }

  100% {
      transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
      opacity: 1;
      transform-origin: right top;
  }
}

.slideRightUp2 {
  -webkit-animation-name: slideRightUp2;
  animation-name: slideRightUp2;
  animation-duration: 0.8s; 
  animation-timing-function: var(--tn-cube-1);
}


@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.animate__headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}





@keyframes waRotation360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


@keyframes waRotation360minus {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


/* 
    wow-plus-end
*/
