/*
    11. wow-plus
*/

/* 
    wow-plus-start
*/
@keyframes fadeInRight2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInRight2 {
  -webkit-animation-name: fadeInRight2;
  animation-name: fadeInRight2;
  animation-duration: 400ms;
  animation-timing-function: var(--kk-cube-1);
}

@keyframes fadeInLeft2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    transform: translateX(-100px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.fadeInLeft2 {
  -webkit-animation-name: fadeInLeft2;
  animation-name: fadeInLeft2;
  animation-duration: 400ms;
  animation-timing-function: var(--kk-cube-1);
}


@keyframes waRotation360 {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


@keyframes waRotation360minus {
  0% {
      transform: rotate(360deg);
  }
  100% {
      transform: rotate(0deg);
  }
}


@keyframes fadeInUp2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp2 {
  -webkit-animation-name: fadeInUp2;
  animation-name: fadeInUp2;
  animation-duration: 400ms;
  animation-timing-function: var(--kk-cube-1);
}

@keyframes fadeInDown2 {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
  }

  100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown2 {
  -webkit-animation-name: fadeInDown2;
  animation-name: fadeInDown2;
  animation-duration: 300ms;
  animation-timing-function: var(--kk-cube-1);
}


@-webkit-keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slideInUp2 {
  0% {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  100% {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }
}

.slideInUp2 {
  -webkit-animation-name: slideInUp2;
  animation-name: slideInUp2;
  animation-duration: .4s;
  animation-timing-function: var(--kk-cube-1);
}

// @keyframes wa_wobble_vertical {
//   16.65% {
//       transform: translateY(8px)
//   }

//   33.3% {
//       transform: translateY(-6px)
//   }

//   49.95% {
//       transform: translateY(4px)
//   }

//   66.6% {
//       transform: translateY(-2px)
//   }

//   83.25% {
//       transform: translateY(1px)
//   }

//   100% {
//       transform: translateY(0)
//   }
// }





@keyframes waFoldDown {
  0% {
      opacity: 0;
      transform: translate3d(0,20px,-20px) rotateX(-50deg)
  }

  100% {
      opacity: 1;
      transform: translate3d(0,0,0)
  }
}

.waFoldDown-pp {
  perspective: 400px
}

.waFoldDown {
  animation-name: waFoldDown;
  transform-origin: 50% 0;
  animation-duration: .6s
}





// .wa-pp-2000 {
//     perspective: 2000px;
//     transform-style: preserve-3d;
// }

// @keyframes rotatedXDown {
//     0% {
//         transform: rotateX(90deg) translateZ(22px);
//         opacity: 0;
//     }

//     100% {
//     transform: rotateX(0deg) translateZ(0px);
//         opacity: 1;
//     }
// }

// .rotatedXDown {
//     -webkit-animation-name: rotatedXDown;
//     animation-name: rotatedXDown;
//     animation-duration: 1s; 
//     animation-timing-function: var(--tn-cube-1);
// }

// @keyframes slideRightUp {
//     0% {
//         transform: rotateY(-26deg) rotateZ(-3deg) translate3d(0px, 23px, 15px);
//         opacity: 0;
//         transform-origin: right top;
//     }

//     100% {
//         transform: rotateY(0deg) rotateZ(0deg) translate3d(0px, 0px, 0px);
//         opacity: 1;
//         transform-origin: right top;
//     }
// }

// .slideRightUp {
//     -webkit-animation-name: slideRightUp;
//     animation-name: slideRightUp;
//     animation-duration: 0.8s; 
//     animation-timing-function: var(--tn-cube-1);
// }



@-webkit-keyframes zoomInDown2 {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -100px, 0);
      transform: scale3d(.1, .1, .1) translate3d(0, -100px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 20px, 0);
      transform: scale3d(.475, .475, .475) translate3d(0, 20px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }
  
  @keyframes zoomInDown2 {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -100px, 0);
      transform: scale3d(.1, .1, .1) translate3d(0, -100px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
      animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 20px, 0);
      transform: scale3d(.475, .475, .475) translate3d(0, 20px, 0);
      -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
      animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
  }
  
  .zoomInDown2 {
    -webkit-animation-name: zoomInDown2;
    animation-name: zoomInDown2;
  }
  

//   @-webkit-keyframes slideInLeft2 {
//     0% {
//       opacity: 0;
//       -webkit-transform: translateX(-100px);
//       transform: translateX(-100px);
//     }
  
//     100% {
//       -webkit-transform: translateX(0);
//       transform: translateX(0);
//     }
//   }
  
//   @keyframes slideInLeft2 {
//     0% {
//       opacity: 0;
//       -webkit-transform: translateX(-100px);
//       -ms-transform: translateX(-100px);
//       transform: translateX(-100px);
//     }
  
//     100% {
//       -webkit-transform: translateX(0);
//       -ms-transform: translateX(0);
//       transform: translateX(0);
//     }
//   }
  
//   .slideInLeft2 {
//     -webkit-animation-name: slideInLeft2;
//     animation-name: slideInLeft2;
//   }


  

@-webkit-keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
@keyframes jello {
  from,
  11.1%,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    -webkit-transform: skewX(6.25deg) skewY(6.25deg);
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    -webkit-transform: skewX(-0.78125deg) skewY(-0.78125deg);
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    -webkit-transform: skewX(0.390625deg) skewY(0.390625deg);
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    -webkit-transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}
.animate__jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}


/* 
    wow-plus-end
*/
