/* 
    choose-1-start
*/
.nm-choose-1 {
    &-area {
        background: #000000;

        .nm-about-1-line:is(.has-v2) {
            bottom: -10px;
        }
    }

    &-sec-title {
        display: flex;
        align-items: center;
        gap: 40px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 540px;
        }
        .sec-disc {
            max-width: 600px;
        }
    }

    &-container {
        max-width: 1735px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr;
        }
    }
    

    &-item {
        align-items: start;

        &:is(.has-2-clm ) {
            @media #{$over,$xxxl,$xxl,$xl} {
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    
    &-handshake {
        background-color: var(--nm-clr-black-2);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 105px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 845px;
        background-size: 100% 100%;

        @media #{$xl} {
            height: 645px;
        }

        @media #{$lg,$md} {
            height: 645px;
        }

        @media #{$xs} {
            height: 585px;
        }

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            position: absolute;
            top: -40px;
            left: -30px;
            background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            filter: blur(50px);
            opacity: .5;
            z-index: -1;
        }

        .handshake-video {
            margin-bottom: 50px;
            width: 100%;

            video {
                width: 100%;
                object-fit: cover;
            }
        }

        .content {
            padding: 0 50px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 0 30px;
            }
        }

        .title {
            font-size: 65px;
            line-height: 1.1;

            @media #{$xxl,$xl,$lg} {
                font-size: 40px;
            }

            @media #{$md,$xs} {
                font-size: 25px;
            }
        }

        .disc {
            font-weight: 500;
            margin-top: 32px;
        }
    }

    &-fast {
        border-radius: 20px;
        display: flex;
        align-items: end;
        padding: 25px;
        height: 845px;
        transition: background 1s;

        @media #{$xl} {
            height: 645px;
        }
        @media #{$lg,$md} {
            height: 645px;
        }
        @media #{$xs} {
            height: 585px;
        }


        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            z-index: -1;

            img {
                transition: var(--nm-cube-1);
            }
        }


        .content-wrap {
            background: rgba(0, 0, 0, 0.3);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 36px 25px;
            backdrop-filter: blur(13px);

            @media #{$xl,$lg,$md,$xs} {
                padding: 36px 15px;
            }
        }

        .icon {
            font-size: 100px;
            color: #fff;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 50px; 
            }
        }

        .title {
            font-size: 48px;
            font-weight: 700;
            line-height: 1.3;

            @media #{$xxl,$xl,$lg} {
                font-size: 40px;
            }

            @media #{$md,$xs} {
                font-size: 25px;
            }
        }

        &:hover {
            .bg-img {
                img {
                    transform: scale(103%);
                }
            }
        }
    }

    &-experience {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding-bottom: 105px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 845px;


        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            z-index: -1;

            img {
                transition: var(--nm-cube-1);
            }
        }


        @media #{$xl} {
            height: 645px;
        }
        @media #{$lg,$md} {
            height: 645px;
        }

        @media #{$xs} {
            height: 585px;
        }
        
        .content-wrap {
            padding: 0 50px;
            @media #{$xxl,$xl,$lg,$md,$xs} {
                padding: 0 30px;
            }
        }

        .title {
            font-size: 65px;
            line-height: 1.1;
            @media #{$xxl,$xl,$lg} {
                font-size: 40px;
            }

            @media #{$md,$xs} {
                font-size: 25px;
            }
        }

        .disc {
            font-weight: 500;
            margin-top: 32px;
        }


        &:hover {
            .bg-img {
                img {
                    transform: scale(103%);
                }
            }
        }
    }

    &-author {
        display: inline-flex;
        flex-wrap: wrap;
        perspective: 2000px;
        transform-style: preserve-3d;

        .author-img {
            width: 106px;
            height: 106px;
            border-radius: 50%;
            border: 2px solid #fff;
            transform: rotateY(84deg);
            transition: var(--nm-cube-1);

            &:not(:first-child) {
                margin-left: -30px;
            }
        }

        &:is(.active) {
            .author-img {
                transform: rotateY(0deg);
                &:nth-child(1) {
                    transition-delay: .1s;
                }
                &:nth-child(2) {
                    transition-delay: .2s;
                }
                &:nth-child(3) {
                    transition-delay: .3s;
                }

                &:nth-child(4) {
                    transition-delay: .4s;
                }
                &:nth-child(5) {
                    transition-delay: .5s;
                }
            }
        }
    }
    
    &-testimonial {
        background-color: var(--nm-clr-black-2);
        border-radius: 20px;
        padding: 92px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-repeat: no-repeat;
        background-size: 50% 100%;
        background-position: 11%;

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            position: absolute;
            top: -40px;
            left: -30px;
            background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            filter: blur(50px);
            opacity: .3;
            z-index: -1;
        }

        &::before {
            content: "";
            width: 200px;
            height: 200px;
            position: absolute;
            bottom: -40px;
            right: -30px;
            background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            filter: blur(50px);
            opacity: .3;
            z-index: -1;
        }

        .content-wrap {
            display: flex;
            align-items: center;
            gap: 60px;

            @media #{$lg,$md,$xs} {
                flex-wrap: wrap;
                justify-content: center;
            }
        }

        .content-wrap-line {
            width: 1px;
            height: 90px;
            background: #fff;
            opacity: .2;
        }
        
    }
    
    &-rating {
        .rating-icon {
            display: inline-flex;
            gap: 5px;
            font-size: 25px;
            color: var(--nm-clr-pr-1);
        }

        .rating-text {
            font-size: 30px;
            color: #fff;
            font-weight: 500;
            margin-top: 23px;
        }
    }
    
    &-turnaround {
        background-color: var(--nm-clr-black-2);
        border-radius: 20px;
        position: relative;
        z-index: 1;
        text-align: center;
        padding: 35px;
        overflow: hidden;
        height: 290px;
        background-position: left bottom;
        background-size: 70% 83%;
        background-repeat: no-repeat;

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            position: absolute;
            right: -40px;
            top: -30px;
            background: radial-gradient(circle,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
            filter: blur(50px);
            opacity: .3;
            z-index: -1;
        }

        .title {
            font-size: 40px;
            display: inline-flex;
            align-items: center;
            gap: 15px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 22px;
            }
            

            i {
                color: var(--nm-clr-pr-1);
                font-size: 50px;
                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 26px;
                }
            }
        }

        .item-video {
            video {
                width: 100%;
            }
        }
    }



}


/* 
    choose-1-end
*/