/* 
    contact-1-start
*/
.nm-contact-1 {

    &-area {
        background-color: #000;
        background-repeat: no-repeat;
        background-position: center center;

        @media #{$lg,$md,$xs} {
            padding-bottom: 100px;
        }
    }

    
    &-sec-title {
        display: flex;
        gap: 40px 100px;
        max-width: 860px;
        align-items: start;
        margin-left: auto;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .nm-subtitle-1 {flex: 0 0 auto;}
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        align-items: start;
        gap: 50px;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }

        &::after {
            content: "";
            width: 120%;
            height: 278px;
            background: #050505;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: -1;
            border-radius: 20px 20px 0 0;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                width: 100%;
            }
        }
    }

    &-social {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .link-elm {
            background: linear-gradient(180deg, rgb(45, 45, 45) 0%, rgb(0, 0, 0) 100%);
            border-radius: 10px;
            font-size: 20px;
            display: inline-flex;
            align-items: center;
            gap: 42px;
            padding: 13px 20px;
            position: relative;
            z-index: 1;
            transition: all .5s var(--nm-cube-1);

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: var(--nm-clr-pr-1);
                position: absolute;
                left: 0;
                bottom: 0;
                border-radius: 10px;
                z-index: -1;
                transform: scaleY(0);
                transform-origin: bottom;
                transition: all .5s var(--nm-cube-1);
            }

            .icon {
                width: 36px;
                height: 36px;
                background: var(--nm-clr-pr-1);
                flex: 0 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;
                border-radius: 50%;
                color: #000;
                   transition: all .5s var(--nm-cube-1);
            }

            &:hover {
                color: #000;
                &::after {
                    transform: scaleY(1);
                }
                .icon {
                    background: #000;
                    color: #fff;
                }
            }
        }
    }


    &-info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px 60px;

        @media #{$xl} {
            gap: 30px 40px;
        }

        @media #{$lg} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr;
        }
        
        @media #{$md} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr 1fr;
        }        
        @media #{$xs} {
            gap: 30px 40px;
            grid-template-columns: 1fr;
        }        
        @media #{$sm} {
            gap: 30px 40px;
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            .icon {
                width: 42px;
                height: 42px;
                background: linear-gradient(-33deg, rgb(46, 46, 46) 0%, rgb(16, 16, 16) 100%);
                border-radius: 50%;
                align-items: center;
                justify-content: center;
                display: flex;
                font-size: 18px;
                color: #636363;
                 transition: all .5s var(--nm-cube-1);
            }

            .title {
                font-size: 24px;
                margin-top: 17px;

                @media #{$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }
            }

            .disc {
                font-size: 15px;
                color: #666666;

                &:nth-of-type(1) {
                    margin-top: 8px;
                }


                a {
                 transition: all .5s var(--nm-cube-1);

                    &:hover {
                        color: var(--nm-clr-pr-1);
                    }
                }
            }

            &:hover {
                .icon {
                    color: var(--nm-clr-pr-1);
                }
            }
        }
    }


    &-img {
        margin-top: -110px;
        margin-left: -20px;

        @media #{$lg,$md,$xs} {
            margin-top: 0;
            margin-left: 0;
        }

        &::after {
            content: "";
            width: 200px;
            height: 200px;
            background: #fff;
            position: absolute;
            top: 0px;
            left: 90px;
            z-index: -1;
            border-radius: 50%;
            filter: blur(100px);
            opacity: .5;
        }

        &-location {
            position: absolute;
            right: 40px;
            top: 35%;
            display: flex;
            gap: 15px;

            @media #{$md} {
                right: 210px;
                top: 41%;
            }

            .icon {
                width: 70px;
                height: 70px;
                background: var(--nm-clr-pr-1);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            .dot-icon {
                width: 51px;
                height: 51px;
                background: rgb(0 0 0 / 50%);
                border-radius: 50%;
                align-self: end;
                margin-right: -20px;
                margin-bottom: -10px;
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background: var(--nm-clr-pr-1);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    box-shadow: inset 2.598px -1.5px 6px 0px rgba(0, 0, 0, 0.7);
                    animation: nm-c1-l-icon-after 2s linear infinite;
                }
            }
        }
        
        
        
    }
    
}

@keyframes nm-c1-l-icon-after {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }    
    50% {
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}
/* 
    contact-1-start
*/

/* 
    contact-2-start
*/
.nm-contact-2 {
    &-area {
        background-color: rgba(10, 10, 10, 0.8);
        z-index: 2;

        @media #{$lg,$md,$xs} {
            padding-bottom: 100px;
        }

        .nm-contact-1-img-location .dot-icon::after {
            background: #24FF00;
            box-shadow: 0px 0px 15.48px 2.52px rgba(36, 255, 0, 0.66);
        }

        .nm-contact-1-img-location .icon {
            border-radius: 20px;
            overflow: hidden;
        }

        .nm-contact-1-social .link-elm {
            .icon {
                background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(127, 127, 127) 100%);
                border-radius: 8px;
            }
            &::after {
                background: #2d2d2d;
            }

            &:hover {
                color: #fff;
                transform: scale(.95);
                .icon {
                    color: #000;
                }
            }
        }

        .nm-contact-1-wrap::after {
            border: 1px solid rgb(255 255 255 / 20%);
            border-bottom: none;

            @media #{$lg,$md,$xs} {
                display: none;
            }
        }
    }

    &-sec-title {
        margin-left: auto;
        margin-right: auto;
        max-width: 670px;
    }


    &-bg-3d-shape {width: 24%;position: absolute;top: -20%;left: -11%;z-index: -1;}
    &-bg-shape-2 {
        width: 18%;
        position: absolute;
        right: -10%;
        top: 0;
        z-index: -1;

        img {
            filter: drop-shadow(-85px 0px 30px rgba(255, 255, 255, 0.1));
        }
    }
}
/* 
    contact-2-end
*/