/* 
    cta-2-start
*/
.nm-cta-2 {
    &-area {
        margin-top: -10vh;
    }

    &-wrap-line-1 {
        width: 100%;
        height: 2px;
        background: #494949;
        position: absolute;
        bottom: 2px;
        left: 0;
        transform: rotate(-.04deg);
    }

    &-wrap-line-2 {
        width: 46%;
        height: 2px;
        background: #494949;
        position: absolute;
        bottom: 64px;
        left: 50%;
        transform: translateX(-50%);
    }
    

    &-wrap {
        padding-top: 145px;
        padding-bottom: 145px;
        mask-image: url("../img/cta/cta-2-mask-shape.png");
        mask-repeat: no-repeat;
        mask-size: 100% 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #000;
            z-index: -1;
            opacity: .6;
        }
    }

    &-bg-shape {
        position: absolute;
        bottom: -17px;
        width: 100%;
        text-align: center;
    }

    &-content {
        margin-left: -120px;
        max-width: 640px;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0px;
        }

        .nm-about-2-img-logo {
            position: unset;
            outline: 10px solid rgb(102 102 102 / 30%);

        }

        .nm-sec-title-2 {
            margin-top: 31px;

            i {
                font-size: 25px;
                transform: translateY(-20px);
            }
        }


        .sce-disc {
            color: #dbdbdb;
            max-width: 600px;
            margin-top: 26px;
        }


        .btn-wrap {
            margin-top: 42px;
        }
                
    }
}


/* 
    cta-2-end
*/