/* 
    faqs-start
*/


.nm-accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-item {
        background-color: #050505;
        border-radius: 20px;
        border: 1px solid transparent;

        .item-title {
            font-size: 24px;
            background: transparent;
            width: 100%;
            display: flex;
            align-items: center;
            gap: 30px;
            padding: 26px 25px;
            text-align: left;
            transition: 0.2s;
            border-bottom: 1px solid transparent;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 20px;
                gap: 10px;
            }

            .text {
                opacity: .4;
            }


            .icon {
                width: 38px;
                height: 38px;
                background: #3d3d3d;
                font-size: 16px;
                color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex: 0 0 auto;
                margin-left: auto;
                transition: all .5s var(--nm-cube-1);

                i {
                    transition: .5s;
                }
            }
    
            &:is(:not(.collapsed)) {
                border-color: rgba(255, 255, 255, 10%);
                .icon {
                    background: var(--nm-clr-pr-1);
                    color: #000;
                    i {
                        transform: rotate(135deg);
                    }
                }

            }

            &:is(.collapsed) {
                &:hover {
                    color: var(--nm-clr-pr-1);
                }
            }

        }
        
        .item-disc {
            padding-bottom: 30px;
            padding-right: 20px;
            padding-left: 25px;
            color: #8c8a8a;
            max-width: 910px;
            padding-top: 25px;

        }

        &:is(.active) {
            border-color: rgba(255, 255, 255, 15%);
        }

    }
    
}


.nm-faqs-1 {
    &-container {
        max-width: 1730px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }

    &-wrap {
        display: grid;
        gap: 70px;
        grid-template-columns: 1fr 1.36fr;

        @media #{$lg} {
            gap: 70px; 
        }

        
        @media #{$md,$xs} {
            grid-template-columns: 1fr ;
            gap: 70px; 
        }
    }

    &-left {
        &-bg-shape {
            width: 61%;
            position: absolute;
            bottom: 10%;
            right: 12%;
            z-index: -1;
        }
    }

    &-contact {
        background: #000;
        border-radius: 30px;
        padding: 50px 40px;

        @media #{$xs} {
            padding: 50px 20px;
        }

        .response {
            display: flex;
            color: #fff;
            font-size: 16px;
            align-items: center;
            gap: 10px;

            .dot {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: var(--nm-clr-pr-1);
            }
        }
        .title {
            font-size: 36px;
            font-weight: 700;
            margin-top: 8px;

            @media #{$xxl} {
                font-size: 30px;
            }
            
            @media #{$xl} {
                font-size: 26px;
            }            
            @media #{$lg,$md,$xs} {
                font-size: 24px;
            }
        }
        

        &-form {
            margin-top: 20px;
            .form-input {
                height: 50px;
                background: transparent;
                border: none;
                border-bottom: 1px solid rgb(255 255 255 / 20%);
                width: 100%;
                padding: 0 15px;
                font-size: 16px;
                margin-bottom: 15px;

                &:is(textarea) {
                    height: 110px;
                    padding-top: 11px;
                }

            }



            .form-checkbox {
                display: flex;
                align-items: center;
                gap: 8px;
                cursor: pointer;

                input[type="checkbox"] {
                    position: relative;
                    border: 1.5px solid #363636;
                    border-radius: 4px;
                    background-color: transparent;
                    cursor: pointer;
                    margin: 0;
                    height: 22px;
                    width: 22px;
                    -webkit-appearance: none;
                    isolation: isolate;

                    &::before {
                        content: "";
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        width: 5px;
                        height: 10px;
                        border: solid #000;
                        border-width: 0 2px 2px 0;
                        margin: -1px -1px 0 -1px;
                        transform: rotate(45deg) translate(-50%, -50%);
                        z-index: 2;    
                        opacity: 0;           
                     }
                }

                
                input[type="checkbox"]:checked {
                    background-color: var(--nm-clr-pr-1);
                    opacity: 1;

                    &::before {
                        opacity: 1;
                    }
                }

                  
            }

            .button-x-author {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 30px;
                flex-wrap: wrap;
                margin-top: 35px;
            }


            .author {
                display: inline-flex;
                gap: 18px;
                align-items: center;

                &-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                &-name {
                    font-size: 20px;
                }

                &-dg {
                    font-size: 15px;
                    line-height: 1.2;
                }
            }
            
              
        }
    }


    &-tabs {
        &-btn {
            display: flex;
            justify-content: space-around;
            position: relative;
            z-index: 1;
            @media #{$xs} {
                flex-wrap: wrap;
            }
            &-line {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 100%);
                width: 100%;
                height: 1px;
                opacity: 0.2;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .nav-link {
                color: #393939;
                background: transparent;
                font-size: 30px;
                font-weight: 700;
                padding: 10px 10px;
                position: relative;
                z-index: 1;
                 transition: all .5s var(--nm-cube-1);

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 20px;
                }

                &::after {
                    content: "";
                    width: 100%;
                    height: 5px;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    background: var(--nm-clr-pr-1);
                    border-radius: 20px;
                      transition: all .5s var(--nm-cube-1);
                    transform: scaleX(0);
                }

                &:hover {
                    color: var(--nm-clr-pr-1);
                }
                
                &:is(.active) {
                    color: var(--nm-clr-pr-1);
                    &::after {
                        transform: scaleX(1);
                    }
                }
            }
        }
    }
    

    &-bg-shadow-1 {
        position: absolute;
        bottom: 30%;
        left: -50px;
        z-index: -1;
    }
    &-bg-shadow-2 {
        position: absolute;
        top: 24%;
        right: -50px;
        z-index: -1;
    }
}




/* 
    faqs-end
*/