/* 
    hero-1-start
*/
.nm-hero-1 {

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    &-main-img {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: start;
        justify-content: end;
        height: 100%;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            align-items: end;
        }

        img {
            margin-right: 14vw;
            // width: 46%;

            @media #{$xxxl,$xxl,$xl} {
                width: 46%;
            }
            @media #{$lg,$md} {
                width: 62%;
                margin-right: 0;
            }
            @media #{$xs} {
                width: 100%;
                margin-right: 0;
            }
            @media #{$sm} {
                width: 62%;
                margin-right: 0;
            }
        }
    }


    &-bg-icon {
        color: var(--nm-clr-pr-1);
        font-size: 70px;
        position: absolute;
        right: 15%;
        top: 38%;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }
    }


    &-container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-content {
        padding-top: 180px;
        padding-bottom: 260px;

        @media #{$lg,$md} {
            padding-bottom: 470px;
        }
        @media #{$xs} {
            padding-bottom: 510px;
        }
        @media #{$sm} {
            padding-bottom: 470px;
        }
    }
    
    &-title {
        font-family: var(--nm-font-1);
        font-size: 180px;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        margin-bottom: 0;

        @media #{$xxxl} {
            font-size: 160px;
        }

        @media #{$xxl} {
            font-size: 140px;
        }

        @media #{$xl} {
            font-size: 120px;
        }

        
        @media #{$lg} {
            font-size: 100px;
        }
        
        @media #{$md} {
            font-size: 80px;
        }        
        @media #{$xs} {
            font-size: 50px;
        }        
        @media #{$sm} {
            font-size: 70px;
            line-height: 1.3;
        }


                
        &.has-title-1 {
            margin-left: 95px;

            @media #{$xs} {
                margin-left: 0;
            }
            @media #{$sm} {
                margin-left: 95px;
            }
        }
    }


    &-subtitle {
        font-size: 20px;
        font-weight: 600;
        color: var(--nm-clr-pr-1);
        margin-left: 195px;

        @media #{$xs} {
            margin-left: 0;
        }
        @media #{$sm} {
            margin-left: 195px;
        }
    }

    &-disc {
        max-width: 520px;
        font-size: 22px;
        color: #e3e3e3;
    }

    &-btn {
        margin-left: 40px;

        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
    }


    &-content-2 {
        position: absolute;
        bottom: 95px;
        left: 0;
        width: 100%;
        z-index: 2;

        &-wrap {
            display: flex;
            align-items: center;
            gap: 30px;

            @media #{$lg,$md,$xs} {
                flex-direction: column;
                align-items: start;
            }
        }
    }
    

    &-social {
        &-position {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;

            @media #{$lg,$md} {
                transform: translateY(-50%) scale(0.7);
            }

            @media #{$xs} {
                display: none;
            }

            &::after {
                content: "";
                width: 360px;
                height: 360px;
                border-radius: 50%;
                border: 60px solid var(--nm-clr-pr-1);
                position: absolute;
                top: 50%;
                right: -180px;
                transform: translateY(-50%);
                z-index: -1;
            }
        }

        &-border {
            width: 430px;
            height: 430px;
            border: 3px solid #7c7c7c;
            border-radius: 50%;
            position: absolute;
            right: -210px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            animation: nm-hero-1-social-border 10s linear infinite;

            &::after {
                content: "";
                width: 22px;
                height: 22px;
                background: var(--nm-clr-pr-1);
                border-radius: 50%;
                box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
                position: absolute;
                left: -11px;
                top: 47%;
            }
            &::before {
                content: "";
                width: 22px;
                height: 22px;
                background: var(--nm-clr-pr-1);
                border-radius: 50%;
                box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
                position: absolute;
                right: -11px;
                top: 47%;
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            gap: 37px;
            margin-right: 10px;

            .link-elm {
                color: #000;
                font-size: 35px;

                &:nth-child(2) {
                    transform: translate(-85px, -20px);
                }

                &:nth-child(3) {
                    transform: translate(-120px, 0px);
                }

                &:nth-child(4) {
                    transform: translate(-89px, 20px);
                }


            }
        }
    }
    
    
}

@keyframes nm-hero-1-social-border {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}
/* 
    hero-1-end
*/