/* 
    hero-1-start
*/
.nm-hero-1 {

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        perspective: 2000px;
        transform-style: preserve-3d;

        img {
            animation: hero1-bg-img 20s linear infinite;
        }
    }

    &-main-img {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 1;
        display: flex;
        align-items: start;
        justify-content: end;
        height: 100%;

        @media #{$xxl,$xl,$lg,$md,$xs} {
            align-items: end;
        }

        img {
            margin-right: 14vw;
            // width: 46%;

            &:nth-child(2) {
                position: absolute;
                top: 0;
                right: 0;
               transition: var(--nm-cube-1);
                mix-blend-mode: color;
                z-index: 1;
                opacity: 0;

                @media #{$lg,$md,$xs} {
                    top: unset;
                    bottom: 0;
                }
            }


            @media #{$xxxl,$xxl,$xl} {
                width: 46%;
            }
            @media #{$lg,$md} {
                width: 62%;
                margin-right: 0;
            }
            @media #{$xs} {
                width: 80%;
                margin-right: 0;
            }
            @media #{$sm} {
                width: 62%;
                margin-right: 0;
            }
        }
    }


    &-bg-icon {
        color: var(--nm-clr-pr-1);
        font-size: 70px;
        position: absolute;
        right: 15%;
        top: 38%;
        z-index: -1;

        @media #{$lg,$md,$xs} {
            display: none;
        }

        i {
            animation: waRotation360 10s linear infinite;
        }
    }


    &-container {
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-content {
        padding-top: 180px;
        padding-bottom: 260px;

        @media #{$lg,$md} {
            padding-bottom: 470px;
        }
        @media #{$xs} {
            padding-bottom: 510px;
        }
        @media #{$sm} {
            padding-bottom: 470px;
        }
    }
    
    &-title {
        font-family: var(--nm-font-1);
        font-size: 180px;
        font-weight: 700;
        color: #fff;
        line-height: 1;
        margin-bottom: 0;
        letter-spacing: -0.02em;
        @media #{$xxxl} {
            font-size: 160px;
        }

        @media #{$xxl} {
            font-size: 140px;
        }

        @media #{$xl} {
            font-size: 120px;
        }

        
        @media #{$lg} {
            font-size: 100px;
        }
        
        @media #{$md} {
            font-size: 80px;
        }        
        @media #{$xs} {
            font-size: 50px;
        }        
        @media #{$sm} {
            font-size: 70px;
            line-height: 1.3;
        }


                
        &.has-title-1 {
            margin-left: 95px;

            @media #{$xs} {
                margin-left: 0;
            }
            @media #{$sm} {
                margin-left: 95px;
            }
        }
    }


    &-subtitle {
        font-size: 20px;
        font-weight: 600;
        color: var(--nm-clr-pr-1);
        margin-left: 195px;

        @media #{$xs} {
            margin-left: 0;
        }
        @media #{$sm} {
            margin-left: 195px;
        }
    }

    &-disc {
        max-width: 520px;
        font-size: 22px;
        color: #e3e3e3;
    }

    &-btn {
        margin-left: 40px;

        @media #{$lg,$md,$xs} {
            margin-left: 0;
        }
    }


    &-content-2 {
        position: absolute;
        bottom: 95px;
        left: 0;
        width: 100%;
        z-index: 2;

        &-wrap {
            display: flex;
            align-items: center;
            gap: 30px;

            @media #{$lg,$md,$xs} {
                flex-direction: column;
                align-items: start;
            }
        }
    }
    

    &-social {
        &-position {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;

            @media #{$lg,$md} {
                transform: translateY(-50%) scale(0.7);
            }

            @media #{$xs} {
                display: none;
            }

            &::after {
                content: "";
                width: 360px;
                height: 360px;
                border-radius: 50%;
                border: 60px solid var(--nm-clr-pr-1);
                position: absolute;
                top: 50%;
                right: -180px;
                transform: translateY(-50%);
                z-index: -1;
            }
            
        }

        &-border {
            width: 430px;
            height: 430px;
            border: 3px solid #7c7c7c;
            border-radius: 50%;
            position: absolute;
            right: -210px;
            top: 50%;
            transform: translateY(-50%);
            z-index: -1;
            animation: nm-hero-1-social-border 10s linear infinite;

            &::after {
                content: "";
                width: 22px;
                height: 22px;
                background: var(--nm-clr-pr-1);
                border-radius: 50%;
                box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
                position: absolute;
                left: -11px;
                top: 47%;
            }
            &::before {
                content: "";
                width: 22px;
                height: 22px;
                background: var(--nm-clr-pr-1);
                border-radius: 50%;
                box-shadow: 0px 3px 5.52px 0.48px rgba(214, 243, 69, 0.46);
                position: absolute;
                right: -11px;
                top: 47%;
            }
        }

        &-link {
            display: flex;
            flex-direction: column;
            gap: 37px;
            margin-right: 10px;
            transform: rotate(179deg);
            transition: 1.5s var(--nm-cube-1) ;

            .link-elm {
                color: #000;
                font-size: 35px;
         

                i {
                    transition: var(--nm-cube-1) ;
                }

                &:hover {
                    i {
                        transform: scale(.7);
                    }
                }

                &:nth-child(2) {
                    transform: translate(-85px, -20px);
                }

                &:nth-child(3) {
                    transform: translate(-120px, 0px);
                }

                &:nth-child(4) {
                    transform: translate(-89px, 20px);
                }


            }

            &:is(.active) {
                transform: rotate(0deg);
                transition-delay: 1s;
            }
        }
    }
    
    
}

@keyframes nm-hero-1-social-border {
    0% {
        transform: translateY(-50%) rotate(0deg);
    }
    100% {
        transform: translateY(-50%) rotate(360deg);
    }
}


@keyframes nm-hero-1-img-filter {
    0% {
        filter: sepia(1)hue-rotate(0deg)saturate(300%);
    }
    5% {
        filter: sepia(1)hue-rotate(10deg)saturate(300%);
    }
    10% {
        filter: sepia(1)hue-rotate(20deg)saturate(300%);
    }
    15% {
        filter: sepia(1)hue-rotate(30deg)saturate(300%);
    }
    20% {
        filter: sepia(1)hue-rotate(40deg)saturate(300%);
    }
    25% {
        filter: sepia(1)hue-rotate(50deg)saturate(300%);
    }
    30% {
        filter: sepia(1)hue-rotate(60deg)saturate(300%);
    }
    35% {
        filter: sepia(1)hue-rotate(70deg)saturate(300%);
    }
    40% {
        filter: sepia(1)hue-rotate(80deg)saturate(300%);
    }
    45% {
        filter: sepia(1)hue-rotate(90deg)saturate(300%);
    }    
    50% {
        filter: sepia(1)hue-rotate(100deg)saturate(300%);
    }
    55% {
        filter: sepia(1)hue-rotate(110deg)saturate(300%);
    }
    60% {
        filter: sepia(1)hue-rotate(120deg)saturate(300%);
    }
    65% {
        filter: sepia(1)hue-rotate(130deg)saturate(300%);
    }
    70% {
        filter: sepia(1)hue-rotate(140deg)saturate(300%);
    }
    75% {
        filter: sepia(1)hue-rotate(150deg)saturate(300%);
    }
    80% {
        filter: sepia(1)hue-rotate(160deg)saturate(300%);
    }
    85% {
        filter: sepia(1)hue-rotate(170deg)saturate(300%);
    }
    90% {
        filter: sepia(1)hue-rotate(180deg)saturate(300%);
    }
    95% {
        filter: sepia(1)hue-rotate(190deg)saturate(300%);
    }
    100% {
        filter: sepia(1)hue-rotate(200deg)saturate(300%);
    }
}


.nm-hero-1-area {
    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &:hover {
        .nm-hero-1-main-img img:nth-child(2) {
            opacity: 1;
            animation: nm-hero-1-img-filter 3s linear infinite;
        }
    }
}


@keyframes hero1-bg-img  {
    0% {
        transform-origin: 100% 50%;
        transform: scaleX(1.2);
    }
    50% {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }
    100% {
        transform-origin: 100% 50%;
        transform: scaleX(1.2);
    }
}
/* 
    hero-1-end
*/



/* 
    hero-2-start
*/


.nm-hero-2 {
    &-area {
        background-color: #f3f3f3;
    }

    &-wrap {
        height: 955px;
    }

    &-big-title {
        font-size: 715px;
        color: #d2d1d1;
        letter-spacing: -0.06em;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -3;
    }

    &-bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        text-align: center;
    }

    &-img {
        width: 275px;
        height: 160px;
        border: 4px solid #fff;
        border-radius: 30px;
        box-shadow: -1.717px 8.835px 18px 0px rgba(0, 0, 0, 0.39);
        position: absolute;
        top: 10%;
        right: 10%;
        z-index: 1;
    }


    &-content {
        position: absolute;
        top: 10%;
        left: 10%;
        z-index: 2;

        .disc {
            font-size: 22px;
            font-weight: 600;
            color: #292929;
            line-height: 1.636;
            max-width: 220px;
            letter-spacing: -0.05em;
        }

        .btn-wrap {
            margin-top: 35px;
        }
    }


    &-writing-text {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(0 0 0 / 60%);
        border-radius: 20px;
        border: 1px solid rgb(255 255 255 / 15%);
        padding: 17px 62px;

        .title-1 {
            font-size: 30px;
            font-weight: 500;
            color: #f5f5f5;
        }
    }


    &-marquee {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        z-index: 1;
        display: flex;

        &-masking {
            display: flex;



            // mask-size: 120% 100%;
            // -webkit-mask-size: 120% 100%;
            // 
            // transition: all .5s var(--agn-cube-1);
        }
    

        &-text {
            font-family: var(--nm-font-1);
            color: #141414;
            font-size: 272px;
            flex: 0 0 auto;
            font-weight: 700;
            letter-spacing: -0.075em;

            background-image: url("../img/hero/text-img.png");
            background-repeat: no-repeat;
            background-position: center center;
            background-clip: text;
            -webkit-text-fill-color: transparent;


            // mask-image: url("../img/hero/text-img.png");
            // -webkit-mask-image: url("../img/hero/text-img.png");
            // mask-repeat: no-repeat;
            // -webkit-mask-repeat: no-repeat;
            // mask-position: center center;
        }

    }
    
    
    
}






/* 
    hero-2-end
*/