/* 
    marquee-1-start
*/
.nm-marquee-1 {
    &-area {
        background: linear-gradient(180deg, rgb(54, 54, 54) 0%, rgb(16, 16, 16) 100%);
    }

    &-counter {
        &-wrap {
            display: flex;
        }
    }

    &-counter {
        display: flex;
        align-items: center;
        gap: 26px;
        flex: 0 0 auto;
        padding: 16px 60px;
        position: relative;
        z-index: 1;

        @media #{$xs} {
            padding: 16px 30px;
        }

        &::after {
            content: "";
            width: 2px;
            height: 70%;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background: linear-gradient(180deg,rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
            opacity: .5;
        }

        .number {
            font-family: var(--nm-font-1);
            font-size: 48px;
            line-height: 1;
            font-weight: 700;
            color: #D0D0D0;
        }

        .disc {
            max-width: 100px;
            color: #808080;
            line-height: 1.3;
        }
    }
}


/* 
    marquee-1-end
*/