/* 
    portfolio-1-start
*/
.nm-portfolio-1 {
    &-top {
        background-size: unset;

        .nm-about-1-line:is(.has-v2) {
            top: unset;
            bottom: -10px;
        }

        &-wrap {
            max-width: 610px;
        }

        &-features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
            @media #{$sm} {
                grid-template-columns: 1fr  1fr;
            }

            &-single {
                text-align: center;
                background: linear-gradient(180deg, rgb(45, 45, 45) 0%, rgb(6, 6, 6) 100%);
                border-radius: 20px;
                padding: 25px 20px;
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    background: var(--nm-clr-pr-1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: scaleY(0);
                    transition: var(--nm-cube-1);
                    transform-origin: bottom;
                }

                .title {
                    font-size: 40px;
                    font-weight: 700;
                    color: #838383;
                    line-height: 1;
                    transition: var(--nm-cube-1);
                }

                .disc {
                    margin-top: 12px;
                    line-height: 1.3;
                    transition: var(--nm-cube-1);
                }


                &:hover {
                    &::after {
                        transform: scaleY(1);
                    }

                    .title, .disc {
                        color: #000;
                    }
                }
            }
        }
    }

    &-sec-title {
        .sec-disc {
            margin-top: 27px;
        }
    }

    &-sec-title-2 {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: end;

        @media #{$xs} {
            flex-wrap: wrap;
        }


        .left {
            width: 100%;
        }
        .sec-disc {
            max-width: 560px;
        }
    }


    &-item-wrap {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1fr;
        margin-left: -100px;
        margin-right: -100px;

        @media #{$xxl,$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
        }
        @media #{$md} {
            margin-left: 0px;
            margin-right: 0px;
            gap: 30px;
        }        
        @media #{$xs} {
            grid-template-columns: 1fr;
            margin-left: 0px;
            margin-right: 0px;
            gap: 30px;
        }
    }

    &-card {
        height: 420px;
        border-radius: 20px;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0%;
            transition: var(--nm-cube-1);
        }

        .card-categories {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 1;

            .link-elm {
                background: #323232;
                border-radius: 100px;
                font-size: 15px;
                padding: 5px 16px;
                border: 1px solid rgb(255 255 255 / 20%);
                transition: var(--nm-cube-1);

                &:hover {
                    color: var(--nm-clr-pr-1);
                }
            }
        }

        .card-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: 1;
            background: #fff;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            border-radius: 50%;
            transition: var(--nm-cube-1);
        }

        &:hover {
            &::after {
                opacity: 39%;

            }
            .card-btn {
                transform: translate(-50%, -50%) scale(1);
            }
        }

    }

    &-all {
        &-btn {
            margin-left: -100px;
            margin-right: -100px;
            display: flex;
            justify-content: space-between;
            gap: 35px;
            align-items: center;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        &-plus {
            color: var(--nm-clr-pr-1);
            font-weight: 600;
            font-family: var(--nm-font-2);
            width: 100%;
            text-align: right;
            position: relative;
            z-index: 1;
    
            &::after {
                content: "";
                width: 99.1%;
                height: 1px;
                background: #FFF;
                background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
                position: absolute;
                top: 15px;
                right: 11px;
                opacity: .1;
            }
        }
    }


    &-bg-shadow-1 {
        position: absolute;
        bottom: 14%;
        left: -30px;
        z-index: -1;
    }
    
    &-bg-shadow-2 {
        position: absolute;
        right: -40px;
        bottom: 50%;
        z-index: -1;
    }

}

/* 
    portfolio-1-end
*/