/* 
    portfolio-1-start
*/
.nm-portfolio-1 {
    &-top {
        background-size: unset;

        .nm-about-1-line:is(.has-v2) {
            top: unset;
            bottom: -10px;
        }

        &-wrap {
            max-width: 610px;
        }

        &-features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
            @media #{$sm} {
                grid-template-columns: 1fr  1fr;
            }

            &-single {
                text-align: center;
                background: linear-gradient(180deg, rgb(45, 45, 45) 0%, rgb(6, 6, 6) 100%);
                border-radius: 20px;
                padding: 25px 20px;
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    background: var(--nm-clr-pr-1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: scaleY(0);
                    transition: var(--nm-cube-1);
                    transform-origin: bottom;
                }

                .title {
                    font-size: 40px;
                    font-weight: 700;
                    color: #838383;
                    line-height: 1;
                    transition: var(--nm-cube-1);
                }

                .disc {
                    margin-top: 12px;
                    line-height: 1.3;
                    transition: var(--nm-cube-1);
                }


                &:hover {
                    &::after {
                        transform: scaleY(1);
                    }

                    .title, .disc {
                        color: #000;
                    }
                }
            }
        }
    }

    &-sec-title {
        .sec-disc {
            margin-top: 27px;
        }
    }
    
}

/* 
    portfolio-1-end
*/