/* 
    portfolio-1-start
*/
.nm-portfolio-1 {
    &-top {
        background-size: unset;

        .nm-about-1-line:is(.has-v2) {
            top: unset;
            bottom: -10px;
        }

        &-wrap {
            max-width: 610px;
        }

        &-features {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }
            @media #{$sm} {
                grid-template-columns: 1fr  1fr;
            }

            &-single {
                text-align: center;
                background: linear-gradient(180deg, rgb(45, 45, 45) 0%, rgb(6, 6, 6) 100%);
                border-radius: 20px;
                padding: 25px 20px;
                position: relative;
                z-index: 1;

                &::after {
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    background: var(--nm-clr-pr-1);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    transform: scaleY(0);
                    transition: all .5s var(--nm-cube-1);
                    transform-origin: bottom;
                }

                .title {
                    font-size: 40px;
                    font-weight: 700;
                    color: #838383;
                    line-height: 1;
                    transition: all .5s var(--nm-cube-1);
                }

                .disc {
                    margin-top: 12px;
                    line-height: 1.3;
                    transition: all .5s var(--nm-cube-1);
                }


                &:hover {
                    &::after {
                        transform: scaleY(1);
                    }

                    .title, .disc {
                        color: #000;
                    }
                }
            }
        }
    }

    &-sec-title {
        .sec-disc {
            margin-top: 27px;
        }
    }

    &-sec-title-2 {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        align-items: end;

        @media #{$xs} {
            flex-wrap: wrap;
        }


        .left {
            width: 100%;
        }
        .sec-disc {
            max-width: 560px;
        }
    }


    &-item-wrap {
        display: grid;
        gap: 60px;
        grid-template-columns: 1fr 1fr;
        margin-left: -100px;
        margin-right: -100px;

        @media #{$xxl,$xl,$lg} {
            margin-left: 0px;
            margin-right: 0px;
        }
        @media #{$md} {
            margin-left: 0px;
            margin-right: 0px;
            gap: 30px;
        }        
        @media #{$xs} {
            grid-template-columns: 1fr;
            margin-left: 0px;
            margin-right: 0px;
            gap: 30px;
        }
    }

    &-card {
        height: 420px;
        border-radius: 20px;

        &::after {
            content: "";
            width: 100%;
            height: 100%;
            background: #000;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0%;
            transition: all .5s var(--nm-cube-1);
        }

        .card-categories {
            position: absolute;
            top: 20px;
            right: 25px;
            z-index: 1;

            .link-elm {
                background: #323232;
                border-radius: 100px;
                font-size: 15px;
                padding: 5px 16px;
                border: 1px solid rgb(255 255 255 / 20%);
                transition: all .5s var(--nm-cube-1);

                &:hover {
                    color: var(--nm-clr-pr-1);
                }
            }
        }

        .card-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: 1;
            background: #fff;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            border-radius: 50%;
            transition: all .5s var(--nm-cube-1);

            i {
                // transition: var(--nm-cube-1);
                // transform: scaleY(0);
            }

            &:hover {
                background: var(--nm-clr-pr-1);
                color: #000;
            }
        }

        &:hover {
            &::after {
                opacity: 39%;

            }
            .card-btn {
                transform: translate(-50%, -50%) scale(1);
            }
        }

    }

    &-all {
        &-btn {
            margin-left: -100px;
            margin-right: -100px;
            display: flex;
            justify-content: space-between;
            gap: 35px;
            align-items: center;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                margin-left: 0px;
                margin-right: 0px;
            }
        }

        &-plus {
            color: var(--nm-clr-pr-1);
            font-weight: 600;
            font-family: var(--nm-font-2);
            width: 100%;
            text-align: right;
            position: relative;
            z-index: 1;
    
            &::after {
                content: "";
                width: 99.1%;
                height: 1px;
                background: #FFF;
                background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 5%, rgba(255, 255, 255, 1) 100%);
                position: absolute;
                top: 15px;
                right: 11px;
                opacity: .1;
                transform: scaleX(0);
                transform-origin: right;
                transition: 2s;
            }

            &:is(.active) {
                &::after {
                    transform: scaleX(1);  
                }
        
            }
        }
    }


    &-bg-shadow-1 {
        position: absolute;
        bottom: 14%;
        left: -30px;
        z-index: -1;
    }
    
    &-bg-shadow-2 {
        position: absolute;
        right: -40px;
        bottom: 50%;
        z-index: -1;
    }

}

/* 
    portfolio-1-end
*/

/* 
    portfolio-2-start
*/
.nm-portfolio-2 {

    &-area {
        background-color: rgba(10, 10, 10, 1);
        border-radius: 80px 80px 0 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        @media #{$xs} {
            border-radius: 30px 30px 0 0;
        }

        .home-2-bg-noise {
            border-radius: 80px 80px 0 0;
            @media #{$xs} {
                border-radius: 30px 30px 0 0;
            }
        }
    }

    &-big-title {
        font-size: 470px;
        font-weight: 900;
        line-height: 1;
        position: absolute;
        bottom: -70px;
        left: 0;
        z-index: -1;

        @media #{$xxxl} {
            font-size: 440px;
        }
        @media #{$xxl} {
            font-size: 410px;
        }
        @media #{$xl} {
            font-size: 370px;
        }
        @media #{$lg} {
            font-size: 310px;
        }
        @media #{$md} {
            font-size: 260px;
        }
        @media #{$xs} {
            font-size: 120px;
        }
        @media #{$sm} {
            font-size: 180px;
        }

        span {
            background: linear-gradient(90deg, #00000033, #ffffff5e);
            display: inline-block;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-bg-shape {
        width: 15%;
        position: absolute;
        top: -11%;
        left: 2%;
        z-index: -1;
        perspective: 2000px;
        transform-style: preserve-3d;


        img {
            filter: drop-shadow(85px 0px 30px rgba(255, 255, 255, 0.15));
        }
    }

    &-wrap {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1.05fr 1fr;
        gap: 50px;

        @media #{$md,$xs} {
            grid-template-columns:  1fr;
        }
    }

    &-content {
        .sec-disc {
            margin-top: 25px;
        }
        .btn-wrap {
            margin-top: 42px;
        }
    }

    &-card {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        .card-img {
            height: 315px;
            border-radius: 30px 30px 0 0;
            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg, #000, 70%, transparent);
                transition: all .6s var(--nm-cube-1);
                transform: scaleY(0);
                transform-origin: bottom;
            }

        }


        .card-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: 1;
            background: linear-gradient( 180deg, rgb(20,20,20) 0%, rgb(67,67,67) 100%);
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: #fff;
            border-radius: 50%;
            transition: all .5s var(--nm-cube-1);


            &:hover {
                // background: var(--nm-clr-pr-1);
                color: #fff;
            }
        }

        .item-categories {
            position: absolute;
            right: 30px;
            top: 20px;
            font-size: 16px;
            background: linear-gradient(0deg, #424342, #272626);
            border-radius: 100px;
            padding: 6px 18px;
            z-index: 1;
        }

        .title {
            font-size: 32px;

            @media #{$lg,$md,$xs} {
                font-size: 24px;
            }
        }

        .disc {
            font-size: 16px;
            color: #848484;
            margin-top: 8px;
        }

        .item-btn {
            font-size: 15px;
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 6px 13px;
            position: relative;
            z-index: 1;
            margin-top: 20px;
            transition: all .5s var(--nm-cube-1);
            overflow: hidden;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(180deg, rgb(50 50 50) 0%, rgb(67, 67, 67) 100%);
                z-index: -1;
                transform: scaleY(0);
            }

            &:hover {
                border-color: transparent;
                color: #fff;
                &::after {
                    transform: scaleY(1);
                }
            }
        }

        .card-content {
            background-color: #1c1c1c;
            box-shadow: -4.961px 25.522px 68px 0px rgba(0, 0, 0, 0.75);
            border-radius: 0 0  30px 30px;
            padding: 40px 35px;

            @media #{$lg,$md,$xs} {
                padding: 40px 20px;
            }
        }

        &:hover {
            .card-btn {
                transform: translate(-50%, -50%) scale(1);
            }
            .card-img {
                &::after {
                    transform: scaleY(1);
                }
            }
        }

        &:is(.has-last-elm) {
            position: relative;
            .card-img {
                height: 380px;
            }
        }
    }


    
    
    
}

.p2_sticky_trigger_pin {
    &:not(:last-child) {
        margin-bottom: 100px;

        @media #{$md,$xs} {
            margin-bottom: 40px;
        }
    }
}

/* 
    portfolio-2-end
*/
/* 
    portfolio-3-start
*/
.has-portfolio-3 {
    &:is(.nm-portfolio-2-big-title) {
        mix-blend-mode: plus-lighter;
        
        span {
            background: var(--nm-clr-gd-3);
            background-clip: text;
            
        }

    }
}
/* 
    portfolio-3-end
*/