/* 
    price-2-start
*/
.nm-price-2 {

    &-bg-shape-1 {
        width: 28%;
        position: absolute;
        top: 0;
        left: -10%;
        z-index: -2;
        mix-blend-mode: plus-lighter;
    }
    
    &-bg-shape-2 {
        width: 12%;
        position: absolute;
        right: -5%;
        top: 26%;
        z-index: -2;
        mix-blend-mode: plus-lighter;
    }

    &-sec-title {
        display: flex;
        align-items: end;
        gap: 40px 60px;
        justify-content: space-between;

        @media #{$lg,$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 680px;
            flex: 0 0 auto;
            @media #{$xs} {
                width: 100%;
            }
        }

    }

    &-btn {
        &-wrap {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 8px;
            margin-top: 32px;
        }

        &-offer {
            font-size: 14px;
        }

    }

    &-toggle {
        &-btn {
            background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(127, 127, 127) 100%);
            display: inline-flex;
            gap: 20px;
            padding: 11px 17px;
            border-radius: 100px;
            position: relative;
            z-index: 1;
            cursor: pointer;


            .btn-elm {
                background: transparent;
                color: #000;
                font-size: 14px;
                font-weight: 500;
                padding: 0;
                border: none;
                transition: all .5s var(--nm-cube-1);

                &:nth-child(1) {
                    color: #fff;
                }
            }

            &::after {
                content: "";
                width: 54%;
                height: 84%;
                position: absolute;
                top: 3px;
                left: 3px;
                background: #000;
                border-radius: 100px;
                z-index: -1;
               transition: all .5s var(--nm-cube-1);
            }

            &:is(.is-active) {
                .btn-elm {
                    &:nth-child(1) {
                        color: #000;
                    }
                    &:nth-child(2) {
                        color: #fff;
                    }
                }
                &::after {
                    width: 43%;
                    left: 79px;
                }

            }
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;

        @media #{$md} {
            grid-template-columns: 1fr 1fr ; 
        }
        @media #{$xs} {
            grid-template-columns: 1fr  ; 
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr ; 
        }
    }
    
    &-card {
        background: #343434;
        border: 1px solid rgb(255 255 255 / 10%);
        border-radius: 15px;
        padding: 5px 5px;
            transition: all .5s var(--nm-cube-1);


        .card-top {
            background-color: #555555;
            border-radius: 12px;
            padding: 16px 20px;
            border: 1px solid rgb(255 255 255 / 10%);
            margin-bottom: 5px;
        }
        
        .package-name {
            background: #000;
            display: inline-block;
            border-radius: 8px;
            font-size: 18px;
            font-weight: 500;
            padding: 2px 23px;
        }
        
        .icon {
            font-size: 30px;
            color: #fff;
        }
        
        .package-x-icon {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }
        

        
        
        .price-wrap {
            margin-top: 11px;

            .price {
                font-size: 30px;
    
                span {
                    font-size: 18px;
                    font-weight: 400;
                    opacity: .5;
                }

                &:nth-child(2) {
                    display: none;
                }
            }

            &:is(.is-active) {
                .price {
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: block;
                    }
                }
            }
        }
        
        .package-disc {
            color: #f6f6f6;
            margin-top: 10px;
            font-size: 16px;
        }
        
        .card-btn {
            width: 100%;
            // background: linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(88,88,88) 100%);
            background: #101010;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 18px;
            border-radius: 15px;
            padding: 20px 25px;
            box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.004);
            position: relative;
            z-index: 1;
            transition: all .5s var(--nm-cube-1);
            

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(88,88,88) 100%);
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 15px;
                z-index: -1;
                transform: scaleY(0);
                 transition: all .5s var(--nm-cube-1);
                transform-origin: bottom;
            }
            i {
                font-size: 23px;
            }

            &:hover {
                color: #000;
                &::after {
                    transform: scaleY(1);
                }
            }
        }
        
        
        .card-body-title {
            font-size: 14px;
            color: #9d9d9d;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 14px;

            span {
                width: 125px;
                height: 1px;
                opacity: 0.2;
                background: linear-gradient(90deg, rgb(255, 255, 255) 87%, rgba(0, 0, 0, 0) 100%);
            }
        }
        
        .card-bottom {
            padding: 24px 20px;
        }
        
        .package-features {
            li {
                font-size: 15px;
                font-weight: 500;
                color: #fff;
                position: relative;
                z-index: 1;
                padding-left: 25px;

                &:not(:last-child) {
                    margin-bottom: 7px;
                }

                &::after {
                    content: "";
                    width: 8px;
                    height: 8px;
                    background: linear-gradient( 180deg, rgb(255,255,255) 0%, rgb(88,88,88) 100%);
                    position: absolute;
                    top: 7px;
                    left: 0;
                    border-radius: 50%;
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.004);
                }
            }
        }

        &:hover {
            box-shadow: -4.495px 42.764px 22.68px 4.32px rgba(0, 0, 0, 0.61);
        }
        
    }

    &-all-plans {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 35px;
        max-width: 980px;
        margin-left: auto;
        margin-right: auto;

        .title {
            font-size: 26px;
            flex: 0 0 auto;
        }

        .ani-line {
            height: 1px;
            width: 100%;
            background: linear-gradient(270deg, rgb(255 255 255 / 20%) 87%, rgba(0, 0, 0, 0) 100%);
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::after {
                content: "";
                width: 30px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(270deg, rgb(255 255 255) 0%, rgba(0, 0, 0, 0) 100%);
                animation: p2plansLineKF 4s linear infinite;

            }

            &.has-right {
                background: linear-gradient(90deg, rgb(255 255 255 / 20%) 87%, rgba(0, 0, 0, 0) 100%);
 
                &::after {
                    left: unset;
                    background: linear-gradient(90deg, rgb(255 255 255) 0%, rgba(0, 0, 0, 0) 100%);
                    animation: p2plansLineKF2 4s linear infinite;
                }
            }
        }
    }
    
    &-marquee {
        &-wrap {
            mask-image: url("../img/partner/p1-mask-shape.png");
            mask-repeat: no-repeat;
            mask-size: 100% 100%;
        }
    
        &-elm {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-right: 40px;

            @media #{$xs} {
                gap: 20px;
                margin-right: 20px; 
            }

            .single-elm {
                display: flex;
                align-items: center;
                flex: 0 0 auto;
                gap: 40px;
                font-size: 18px;
                font-weight: 400;

                @media #{$xs} {
                    gap: 20px;
                }

                i {
                    animation: p2MarqueeIcon 10s linear infinite ;
                }
            }
        }

    }
    
    
}

@keyframes p2plansLineKF {
    0% {
        left: -10%;
    }    
    100% {
        left: 110%;
    }
}

@keyframes p2plansLineKF2 {
    0% {
        right: -10%;
    }    
    100% {
        right: 110%;
    }
}

@keyframes p2MarqueeIcon {
    0% {
        transform: rotate(360deg);
    }    
    100% {
        transform: rotate(0deg);
    }
}


/* 
    price-2-start
*/

/* 
    price-3-start
*/
.has-price-3 {
    &:is(.nm-price-2-toggle-btn) {
        &::after {
            background: var(--nm-clr-gd-3);
        }
    }

    &:is(.nm-price-2-card) {
        .card-btn {
            &::after {
                background: var(--nm-clr-gd-3);
            }

            &:hover {
                color: #fff;
            }
        }
    }

    &:is(.nm-price-2-marquee-elm) {
        i {
            background: var(--nm-clr-gd-3);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
 }
/* 
    price-3-end
*/