/* 
    services-1-start
*/
.nm-services-1 {
    &-container {
        max-width: 1870px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    &-sec-title {
        display: flex;
        padding: 0 50px;
        justify-content: space-between;
        align-items: center;
        gap: 40px;

        @media #{$lg,$md,$xs} {
            gap: 30px;
            flex-wrap: wrap;
            padding: 0 0px;
        }

        .nm-subtitle-1 {
            flex: 0 0 auto;
        }
        .sec-disc {
            max-width: 490px;

            @media #{$xl} {
                max-width: 300px;
            }
        }

        .nm-sec-title-1 {
            max-width: 650px;
        }
        
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 2.1fr;
        gap: 10px;

        @media #{$lg} {
            grid-template-columns: 1fr 1.3fr;
        }
        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }


    
    &-tabs {
        &-btn-scrollbar {
            height: 640px;
            overflow: hidden;

            .mCSB_container {
                margin-right: 0;
                margin-left: 20px;
            }

            .mCSB_scrollTools {
                opacity: 1;
                right: unset;
                left: 0;
                width: 3px;
                background: #2a2a2a;
            }

            .mCSB_dragger_bar {
                background: var(--nm-clr-pr-1) !important;
                width: 3px !important;
            }
        }
        &-btn {

            .nav-link {
                background: transparent;
                border-radius: 20px;
                font-size: 30px;
                padding: 38px 44px;
                width: 100%;
                text-align: left;
                transition: all .5s var(--nm-cube-1);

                &:hover {
                    background: #050505;
                    color: #fff;
                }

                &:is(.active) {
                    background: #050505;
                    color: #fff;
                }


                @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                    font-size: 22px;
                    padding: 38px 20px;
                }
            }
        }
        
        &-pane {
            &-single {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                perspective: 2000px;


                @media #{$lg} {
                    grid-template-columns: 1fr;
                }
                @media #{$xs} {
                    grid-template-columns: 1fr;
                }

                .item-img {
                    height: 640px;
                    border-radius: 20px;
                    filter: grayscale(1);
                    transform-origin: 0% 50%;
                    transform: translateX(-100%);
                    transition: all .5s var(--nm-cube-1);
                    position: relative;
                    z-index: 1;
                    opacity: 0;


                    @media #{$xs} {
                        height: 350px;  
                    }
                    @media #{$sm} {
                        height: 450px;  
                    }
                }

                .content-wrap {
                    background: #050505;
                    border-radius: 20px;
                    padding: 60px 45px;
                    display: flex;
                    flex-direction: column;
                    transition: all .5s var(--nm-cube-1);
                    transform-origin: 0% 50%;
                    transform: rotateY(90deg);
                    position: relative;
                    z-index: 2;

                    @media #{$xl,$lg,$md,$xs} {
                        padding: 60px 25px;
                    }
                }

                
                .item-icon {
                    font-size: 80px;
                    color: var(--nm-clr-p-1);
                }

                .disc {
                    margin-top: 32px;
                }

                .features-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 12px 20px;
                    margin-top: 33px;
                    margin-bottom: 40px;
                    li {
                        font-size: 16px;
                        display: flex;
                        align-items: baseline;
                        gap: 10px;
                    }
                }

                .item-btn {
                    margin-top: auto;
                }
                
                
            }


            .tab-pane {
                &:is(.show) {
                    .nm-services-1-tabs-pane-single {
                        .item-img {
                            transform: translateX(0);
                            transition-delay: .2s;
                            opacity: 1;
                        }
                        .content-wrap {
                            transform: rotateY(0deg);
                        }
                    }
                }
            }

        }
    }
    
}


/* 
    services-1-end
*/
/* 
    services-2-start
*/
.nm-services-2 {


    &-bg-shape-1 {
        width: 27%;
        position: absolute;
        right: -10%;
        bottom: 10%;
        z-index: -2;
        

        img {
            animation: waRotation360minus 40s linear infinite;
        }
    }

    &-bg-shape-2 {
        width: 28%;
        position: absolute;
        top: 0%;
        left: -10%;
        z-index: -2;
        mix-blend-mode: plus-lighter;
    }

    &-bg-shape-3 {
        position: absolute;
        top: 15%;
        z-index: -2;
        left: 2%;
        width: 12%;
        mix-blend-mode: plus-lighter;
    }

    &-sec-title {
        max-width: 800px;
        margin-left: 50px;

        @media #{$md,$xs} {
            margin-left: 0px;
        }
    }

    &-wrap {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }

    &-card {
        border-radius: 20px;
        background-color: #0e0e0e;
        border: 1px solid rgb(255 255 255 / 20%);
        padding: 12px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        align-items: center;

        

        &:not(:last-child) {
            margin-bottom: 50px;
        }

        @media #{$xs} {
            grid-template-columns: 1fr;
        }

        .card-img {
            border-radius: 15px;
            height: 100%;

            
            @media #{$xs} {
                height: 300px;
            }
        }

        .card-title {
            font-size: 34px;

            @media #{$md,$xs} {
                font-size: 26px;
            }

            i {
                font-size: 16px;
                transform: translateY(-10px);
            }
        }

        .card-disc {
            font-size: 16px;
            color: #a2a2a2;
            margin-top: 14px;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            padding: 22px 0;
            padding-left: 30px;
            height: 100%;

            @media #{$md} {
                padding: 22px 0;
                padding-left: 20px;
            }
            @media #{$xs} {
                padding: 30px 20px;
            }
        
        }
        

        .card-features {
            margin-top: 18px;

            li {
                font-weight: 700;
                letter-spacing: -0.025em;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #fff;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                i {
                    background: linear-gradient(0deg, rgb(100 100 100) 0%, rgb(255, 255, 255) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        .btn-wrap {
            margin-top: 52px;
        }

        @media #{$over,$xxxl,$xxl,$xl,$lg} {
            &:nth-child(1) {
                transform: rotate(-3deg);
            }
            
            &:nth-child(2) {
                transform: rotate(2deg);
                margin-top: -530px;
            }
            
            &:nth-child(3) {
                transform: rotate(-3deg);
                margin-top: -520px;
            }
        }


    }
    
}






/* 
    services-2-end
*/