/* 
    steps-1-start
*/
.nm-steps-1 {

    &-area {
        background: #000;

        .nm-about-1-line:is(.has-v2) {
            top: unset;
            bottom: -8px;
        }
    }

    &-sec-title {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 17px;
        }
    }

    &-wrap {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
 
    
    &-card {
        max-width: 545px;
        display: flex;
        gap: 40px;
        align-items: stretch;
        perspective: 2000px;
        transform-style: preserve-3d;


        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start; 

            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: flex;
            }
        }
        .number {
            width: 45px;
            height: 45px;
            background: var(--nm-clr-black-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            flex: 0 0 auto;
        }

        .number-line {
            width: 7px;
            height: 100%;
            background: var(--nm-clr-black-2);
            border: 1px solid rgb(255 255 255 / 5%);
            border-top: none;
        }

        .number-line-fill {
            width: 100%;
            height: 100%;
            background: var(--nm-clr-pr-1);
            border-radius: 0 0 20px 20px;
            transform: scaleY(0);
            transform-origin: top;
        }

        .content {
            background: var(--nm-clr-black-2);
            border-radius: 20px;
            padding: 50px 40px;
            border: 1px solid rgb(255 255 255 / 5%);
            margin: 50px  0;
            padding-top: 75px;

            @media #{$md,$xs} {
                padding: 50px 20px;
                padding-top: 75px;
            }

            .date {
                position: absolute;
                right: 15px;
                top: 20px;
                background: #000;
                border-radius: 8px;
                padding: 3px 20px;
                font-size: 16px;
            }

            .title {
                display: flex;
                gap: 30px;
                font-size: 24px;
                span {
                    opacity: .3;
                }
                @media #{$md,$xs} {
                    font-size: 22px;
                }
            }

            .disc {
                margin-top: 14px;
                opacity: 53%;
            }



        }

        &:nth-child(even) {
            @media #{$over,$xxxl,$xxl,$xl} {
                flex-direction: row-reverse;

                .content {
                    transform-origin: 100% 50%;
                    transform: rotateY(-45deg);
                }
            }
        }
        &:nth-child(odd) {
   
            @media #{$over,$xxxl,$xxl,$xl} {
                margin-left: auto;
                margin-right: 5px;

                .content {
                    transform-origin: 0% 50%;
                    transform: rotateY(45deg);
                }
            }

        }

    }
}






/* 
    steps-1-end
*/


/* 
    steps-2-start
*/

.nm-steps-2 {

    &-area {
        background-color: rgba(10, 10, 10, 0.8);
    }

    &-bg-shape {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: -2;
    }

    &-bg-3d-shape {
        width: 26%;
        position: absolute;
        top: 15%;
        left: -13%;
        z-index: -1;
    }

    &-max-width {
        max-width: 1160px;
        margin-left: auto;
        margin-right: auto;
    }

    &-sec-title {
        &-1 {
            display: flex;
            align-items: center;
            gap: 50px;
            @media #{$xs} {
                flex-wrap: wrap;
            }

            .nm-sec-title-2 {
                flex: 0 0 auto;
                font-size: 100px;


                @media #{$xxxl} {
                    font-size: 80px;
                }
                @media #{$xxl} {
                    font-size: 70px;
                }
                @media #{$xl} {
                    font-size: 60px;
                }
                @media #{$lg} {
                    font-size: 50px;
                }
            
                @media #{$md} {
                    font-size: 45px;
                }
            
                @media #{$xs} {
                    font-size: 35px;
                }
            
                @media #{$sm} {
                    font-size: 40px;
                }
            }
            .sec-disc {
                font-size: 17px;
                max-width: 610px;
            }
            
        }

        &-2 {
            display: flex;
            align-items: center;
            gap: 40px;
            margin-top: -24px;

            @media #{$md,$xs} {
                flex-wrap: wrap;
                margin-top: 0px;
            }

            .nm-sec-title-2 {
                font-size: 100px;


                @media #{$xxxl} {
                    font-size: 80px;
                }
                @media #{$xxl} {
                    font-size: 70px;
                }
                @media #{$xl} {
                    font-size: 60px;
                }
                @media #{$lg} {
                    font-size: 50px;
                }
            
                @media #{$md} {
                    font-size: 45px;
                }
            
                @media #{$xs} {
                    font-size: 35px;
                }
            
                @media #{$sm} {
                    font-size: 40px;
                }

            }

            .sec-video {
                width: 225px;
                height: 125px;
                overflow: hidden;
                mask-image: url("../img/steps/s2-mask-video.png");
                mask-size: 100% 100%;
                border-radius: 30px;
                position: relative;
                z-index: 1;


                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &-btn {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 52px;
                    height: 52px;
                    background: #fff;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #000;
                    font-size: 20px;
                        transition: all .5s var(--nm-cube-1);

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }

            .nm-pr-btn-2 {
                padding: 2px;
                padding-left: 16px;
                background: linear-gradient(180deg, rgb(51 51 51) 0%, rgb(67, 67, 67) 100%);
                color: #fff;

                .icon {
                    background: #fff;
                    color: #000;
                }
            }
        }
    }

    &-subtitle {
        margin-left: 250px;
        margin-bottom: 0;
        margin-top: 10px;
        max-width: 600px;
        width: 100%;

        @media #{$xs} {
            margin-left: 0px;
        }

        .line {
            width: 100%;
            opacity: .1;
        }
    }


    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px 15px;

        @media #{$lg,$md} {
            grid-template-columns: 1fr 1fr;     
        }
        @media #{$xs} {
            grid-template-columns: 1fr;     
        }
    }

    &-card {
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding-top: 10px;
        padding-bottom: 70px;


        .bg-shape {
            position: absolute;
            top: 0;
            z-index: -2;
            left: 18px;
            width: calc(100% - 36px);
            height: 100%;
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        
        .bg-shape-hover {
            position: absolute;
            top: 0;
            z-index: -1;
            left: 18px;
            width: calc(100% - 36px);
            height: 100%;
            opacity: 0;
            transition: all .5s var(--nm-cube-1);
            
            img {
                width: 100%;
                height: 100%;
            }
        }

        .padding-wrap {
            margin: 0 39px;
        }


        .steps-x-icon {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
            padding-right: 67px;

            @media #{$xs} {
                padding-right: 0px;
            }
            @media #{$sm} {
                padding-right: 67px;
            }
        }

    

        .card-icon {
            width: 100px;
            height: 100px;
            background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgb(67, 67, 67) 100%);
            flex: 0 0 auto;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #cfcfcf;
            font-size: 40px;
            transition: all .5s var(--nm-cube-1);
        }

        .steps-number {
            font-size: 24px;
            background: #343434;
            border-radius: 0 10px 10px 0;
            padding: 6px 24px;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 18px;
                height: 16px;
                background: #343434;
                position: absolute;
                left: 0;
                bottom: -16px;
                clip-path: polygon(0 0, 100% 100%, 100% 0);
            }
        }

        .date {
            font-size: 20px;
            color: #868686;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .title {
            font-size: 40px;
            margin-top: 18px;

            @media #{$lg,$md,$xs} {
                font-size: 30px;
            }
        }

        .line {
            height: 2px;
            border: 1.5px #fff;
            border-style: dashed;
            opacity: 40%;
            margin-top: 19px;
            margin-left: -20px;
            margin-right: -20px;
            transition: all .5s var(--nm-cube-1);
        }

        .disc {
            font-size: 17px;
            margin-top: 16px;
        }

        .steps-list {
            margin-top: 22px;

            li {
                font-size: 20px;
                color: #f0f0f0;
                display: flex;
                align-items: center;
                gap: 15px;
                background: #0c0c0c;
                border-radius: 12px;
                padding: 8px;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                .number {
                    width: 40px;
                    height: 40px;
                    background: linear-gradient(180deg, rgb(51, 51, 51) 0%, rgb(67, 67, 67) 100%);
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        &:hover {
            .bg-shape-hover {
                opacity: 1;
            }
            .line {
                opacity: 1;
            }
            .card-icon {
                background: #fff;
                color: #000;
            }
        }

    }
    
}


/* 
    steps-2-end
*/