/* 
    steps-1-start
*/
.nm-steps-1 {

    &-area {
        background: #000;

        .nm-about-1-line:is(.has-v2) {
            top: unset;
            bottom: -8px;
        }
    }

    &-sec-title {
        max-width: 510px;
        margin-left: auto;
        margin-right: auto;

        .sec-disc {
            margin-top: 17px;
        }
    }

    &-wrap {
        max-width: 1050px;
        margin-left: auto;
        margin-right: auto;
    }
 
    
    &-card {
        max-width: 545px;
        display: flex;
        gap: 40px;
        align-items: stretch;
        perspective: 2000px;
        transform-style: preserve-3d;


        .left {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start; 

            @media #{$xs} {
                display: none;
            }

            @media #{$sm} {
                display: flex;
            }
        }
        .number {
            width: 45px;
            height: 45px;
            background: var(--nm-clr-black-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            font-weight: 700;
            color: #fff;
            flex: 0 0 auto;
        }

        .number-line {
            width: 7px;
            height: 100%;
            background: var(--nm-clr-black-2);
            border: 1px solid rgb(255 255 255 / 5%);
            border-top: none;
        }

        .number-line-fill {
            width: 100%;
            height: 100%;
            background: var(--nm-clr-pr-1);
            border-radius: 0 0 20px 20px;
            transform: scaleY(0);
            transform-origin: top;
        }

        .content {
            background: var(--nm-clr-black-2);
            border-radius: 20px;
            padding: 50px 40px;
            border: 1px solid rgb(255 255 255 / 5%);
            margin: 50px  0;
            padding-top: 75px;

            @media #{$md,$xs} {
                padding: 50px 20px;
                padding-top: 75px;
            }

            .date {
                position: absolute;
                right: 15px;
                top: 20px;
                background: #000;
                border-radius: 8px;
                padding: 3px 20px;
                font-size: 16px;
            }

            .title {
                display: flex;
                gap: 30px;
                font-size: 24px;
                span {
                    opacity: .3;
                }
                @media #{$md,$xs} {
                    font-size: 22px;
                }
            }

            .disc {
                margin-top: 14px;
                opacity: 53%;
            }



        }

        &:nth-child(even) {
            @media #{$over,$xxxl,$xxl,$xl} {
                flex-direction: row-reverse;

                .content {
                    transform-origin: 100% 50%;
                    transform: rotateY(-45deg);
                }
            }
        }
        &:nth-child(odd) {
   
            @media #{$over,$xxxl,$xxl,$xl} {
                margin-left: auto;
                margin-right: 5px;

                .content {
                    transform-origin: 0% 50%;
                    transform: rotateY(45deg);
                }
            }

        }

    }
}






/* 
    steps-1-end
*/