/* 
    team-1-start
*/
.nm-team-1 {

    &-area {
        .nm-about-1-line:is(.has-v2) {
            bottom: -10px;
        }
    }

    &-sec-title {
        display: flex;
        gap: 40px;
        align-items: end;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .sec-disc {
            max-width: 550px;
        }

        .left {
            width: 100%;
        }
        
    }



    &-member {
        max-width: 388px;
        border-radius: 30px;
        height: 550px;
        transition: transform 0.5s, background 0.5s;


        .toggle-btn {
            width: 52px;
            height: 52px;
            background: #fff;
            position: absolute;
            top: 20px;
            right: 20px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 20px;
            z-index: 2;
            transition: all .5s var(--nm-cube-1);
            cursor: pointer;

            i {
                transition: all .5s var(--nm-cube-1);
            }
            &:hover {
                background: var(--nm-clr-pr-1);
            }


        }

        .content-1 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1;
            background: rgb(0 0 0 / 30%);
            backdrop-filter: blur(16px);
            padding: 20px 30px;
            transition: all .5s var(--nm-cube-1);

            @media #{$lg,$md,$xs} {
                padding: 20px 20px;
            }
        }

        .content-2 {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(56px);
            padding: 80px 40px;
            display: flex;
            flex-direction: column;
            transform: translateY(100%);
            transition: all .5s var(--nm-cube-1);
            border-radius: 30px;

            @media #{$lg,$md,$xs} {
                padding: 80px 20px;
            }
        }


        .member-name {
            font-size: 30px;
            transition: all .5s var(--nm-cube-1);

            @media #{$lg,$md,$xs} {
                font-size: 22px;
            }

            &:hover {
                color: var(--nm-clr-pr-1);
            }
        }
        
        .member-dg {
            font-size: 16px;
        }


        .social-link {
            display: flex;
            gap: 14px;
            font-size: 18px;
            color: var(--nm-clr-p-1);
            margin-top: 15px;

            .link-elm {
                transition: all .5s var(--nm-cube-1);

                &:hover {
                    color: var(--nm-clr-pr-1);
                }
            }
        }

        .hr-line {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 100%);
            width: 100%;
            height: 1px;
            opacity: 0.3;
            margin-top: 24px;
        }


        .disc {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .member-btn {
            margin-top: auto;
        }

        .nm-pr-btn-1 {
            background: #000;
        }

        &:is(.active) {
            box-shadow: 0px 0px 13px 0px rgba(11, 11, 11, 0.24);
            .content-1 {
                transform: translateY(-100%);
                opacity: 0;
            }            
            .content-2 {
                transform: translateY(0%);
            }

            .toggle-btn {
                background: var(--nm-clr-pr-1);
                i {
                    transform: rotate(225deg);
                }
            }
        }

    
    }
    
    &-slider {
     
        .swiper-wrapper {

            @media #{$md,$xs} {
                overflow: hidden;
            }
          
            @media #{$over,$xxxl,$xxl,$xl} {
                .swiper-slide {
                    transition: all .6s var(--nm-cube-1);
                    transform: translateY(200px)  rotate(-20deg);
                    opacity: 0;
    
                    &.swiper-slide-prev {
                        transform: translateX(52%) rotate(-12deg);
                        transform-origin: 50% 99%;
                         opacity: 1;
                    }
                    &.swiper-slide-active {
                        opacity: 1;
                        z-index: 2;
                        transform: translateX(0%) translateY(0) rotate(0deg);
                    }
                    &.swiper-slide-next {
                        transform: translateX(-52%) rotate(12deg);
                        transform-origin: 50% 99%;
                         opacity: 1;
                    }
                }
            }


        }

        @media #{$over,$xxxl,$xxl,$xl} { 
            &:is(.active) {
                .swiper-wrapper {
                
                    .swiper-slide {
                        &.swiper-slide-prev {
                            animation: t1prevItem .8s backwards;
                            animation-delay: 1s;
                        }
                        &.swiper-slide-active {
                            animation: t1activeItem 1s backwards;
                        }
                        &.swiper-slide-next {
                            animation: t1NextItem .8s backwards;
                            animation-delay: 1s;
                        }
                        
                    }
                }
            }
        }


        

        &-btn-1 {
            position: absolute;
            top: 45%;
            left: -60px;
            z-index: 2;

            @media #{$xl,$lg} {
                left: 0;
            }
            @media #{$md,$xs} {
                display: none;
            }
        }

        &-btn-2 {
            position: absolute;
            top: 45%;
            right: -60px;
            z-index: 2;

            @media #{$xl,$lg} {
             
                right: 0;
            }
            @media #{$md,$xs} {
                display: none;
            }
        }
    }


    &-bg-title {
        text-align: center;
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
        z-index: -3;

        .title-elm {
            font-size: 22em;
            line-height: 1;
            font-weight: 700;
            background: linear-gradient(180deg,rgba(69, 69, 69, 0.77) 0%, rgba(0, 0, 0, 1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;

            @media #{$xl} {
                font-size: 19em;
            }
            @media #{$lg} {
                font-size: 16em;
            }
            @media #{$md} {
                font-size: 11em;
            }
            @media #{$xs} {
                font-size: 3em;
            }
            @media #{$sm} {
                font-size: 6em;
            }
        }
    }


    &-all-btn {
        font-size: 17px;

        .link-elm {
            background-image: linear-gradient(var(--nm-clr-pr-1));
            display: inline-flex;
            align-items: center;
            background-clip: text;
            -webkit-text-fill-color: #fff;
            font-weight: 600;
            gap: 4px;
            background-repeat: no-repeat;
            background-position: 0% 50%;
            background-size: 0% 100%;
            transition: all .5s var(--nm-cube-1);
            i {
                font-size: 20px;
                transition: all .5s var(--nm-cube-1);

            }

            &:hover {
                -webkit-text-fill-color: transparent;
                background-size: 100% 100%;
            }
        }
    }

    &-bg-shadow-1 {
        background: rgb(255 255 255 / 50%);
        position: absolute;
        right: -30px;
        bottom: 30%;
        z-index: -2;
    }
    
    
}

@keyframes t1prevItem {
    from {
        transform: translateX(100%) rotate(0deg);
        opacity: 0;
    }
}

@keyframes t1activeItem {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes t1NextItem {
    from {
        transform: translateX(-100%) rotate(0deg);
        opacity: 0;
    }
}




/* 
    team-1-end
*/