/* 
    testimonial-1-start
*/
.nm-testimonial-1 {

    &-sec-title {
        display: flex;
        align-items: end;
        gap: 40px;
        justify-content: space-between;

        @media #{$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 500px;
        }

        .right {
            text-align: right;
        }

        .sec-disc {
            margin-bottom: 19px;
        }
    }

    &-wrap {
        height: 540px;
    }
    

    &-preview {
        &-slider {
            &-item {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                border: 8px solid rgb(255 255 255 / 10%);
                transition: var(--nm-cube-1);
                cursor: pointer;
                &:hover {
                    border-color: var(--nm-clr-pr-1);
                }
            }

            .swiper-wrapper {
                max-width: 1050px;
                height: 1050px;
                position: relative;
                margin: 0 auto;

                .swiper-slide {
                    width: auto;
                    position: absolute; 
                    width: 100px;
                    height: 100px;


                    &:is(.swiper-slide-thumb-active) {
                        .nm-testimonial-1-preview-slider-item {
                            border-color: var(--nm-clr-pr-1);
                            box-shadow: -1.526px 7.853px 59px 0px rgba(214, 243, 69, 0.6);
                        }
                    }
                }
            }
        }
    }


    &-main {
        &-slider {
            position: absolute;
            top: 160px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;
            max-width: 430px;


            @media #{$xs} {
                max-width: 100%;
            }

            &-single {
                text-align: center;


                .icon {
                    font-size: 70px;
                    color: var(--nm-clr-pr-1);
                }
                .comment {
                    color: #fff;
                    font-weight: 500;
                    line-height: 36px;
                    margin-top: 10px;
                }

                .line {
                    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 15%, rgb(255, 255, 255) 85%, rgba(255, 255, 255, 0) 100%);
                    width: 90%;
                    height: 1px;
                    opacity: 0.2;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 28px;
                }


                .nm-choose-1-rating {
                    margin-top: 28px;
                    .rating-icon {
                        gap: 7px;
                        font-size: 18px;
                    }
                }

                .author-name {
                    font-size: 15px;
                    margin-top: 10px;
                }
                
            }


            .swiper-wrapper {
                .swiper-slide {
                    .nm-testimonial-1-main-slider-single {
                        .line {
                            transform: scaleX(0);
                            transition: 1s;
                        }

                        .rating-icon {
                            i {
                                opacity: 0;
                                transition: .5s;
                            }
                        }
                    }
                    &:is(.swiper-slide-active) {
                        .nm-testimonial-1-main-slider-single {
                            .icon, .comment, .author-name {
                                animation-name: fadeInUp;
                                animation-duration: .5s;
                                animation-timing-function: var(--nm-cube-1);
                                animation-fill-mode: backwards;
                            }

                            .icon {
                                animation-delay: .5s;
                            }

                            .comment {
                                animation-delay: .7s;
                            }

                            .line {
                                transform: scaleX(1);
                                transition-delay: .7s;
                            }

                            .author-name {
                                animation-delay: .9s;
                            }

                            .rating-icon {
                                i {
                                    opacity: 1;

                                    &:nth-child(1) {
                                        transition-delay: .4s;
                                    }
                                    &:nth-child(2) {
                                        transition-delay: .5s;
                                    }
                                    &:nth-child(3) {
                                        transition-delay: .6s;
                                    }
                                    &:nth-child(4) {
                                        transition-delay: .7s;
                                    }
                                    &:nth-child(5) {
                                        transition-delay: .8s;
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }
    

    &-bg-blur {
        height: 70px;
        width: 100%;
        background: linear-gradient(0deg, rgb(255 255 255 / 0%) 0%, rgb(0 0 0 / 0%) 100%);
        backdrop-filter: blur(3px);
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}


/* 
    testimonial-1-start
*/
/* 
    testimonial-2-start
*/
.nm-testimonial-2 {

    &-bg-shape-1 {
        width: 14%;
        position: absolute;
        right: 2%;
        top: -22%;
        z-index: -1;

        @media #{$xl,$lg,$md,$xs} {
            top: -12%;
        }

        img {
            filter: drop-shadow(-85px 0px 30px rgba(255, 255, 255, 0.10));
        }
    }

    &-sec-title {
        max-width: 1100px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: end;
        justify-content: space-between;
        gap: 40px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        .left {
            max-width: 520px;
        }
        .sec-disc {
            margin-bottom: 20px;
        }
        .right {
            padding-bottom: 10px;
        }
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.15fr;
        background-color: #000000;
        border-radius: 40px;
        overflow: hidden;

        @media #{$md,$xs} {
            grid-template-columns: 1fr;
        }
    }


    &-img-slider {
        &-single {
            height: 600px;
            position: relative;
            z-index: 1;

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                bottom: 0;
                left: 0;
                background: linear-gradient(0deg,rgba(0, 0, 0, 1) 27%, rgba(0, 0, 0, 0) 60%);
            }




            .content-wrap {
                position: absolute;
                inset: 0;
                margin: auto;
                border: 2px solid #fff;
                width: 80%;
                height: 80%;
                z-index: 1;
                border-radius: 30px;
                display: flex;
                align-items: end;
                padding-bottom: 30px;

                &-inner {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    padding-left: 25px;


                }


            }

            .author-name {
                font-size: 30px;
            }

            .author-dg {
                font-weight: 500;
                color: #fff;
                opacity: .8;
                margin-top: 5px;
            }

            .author-rating {
                background: linear-gradient( 90deg, rgb(255,255,255) 0%, rgb(105,105,105) 100%);
                font-size: 24px;
                color: #000;
                font-weight: 700;
                padding: 6px 15px;
                border-radius: 10px 0 0 10px;

                i {
                    font-size: 16px;
                    transform: translateY(-11px);
                }
            }

        }
    }



    &-right {
        padding: 45px 45px;

        @media #{$xs} {
            padding: 45px 20px;
        }

        @media #{$sm} {
            padding: 45px 45px;
        }

        &-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 45px;
            gap: 40px;

            .nm-slider-btn-1  {
                width: 50px;
                height: 50px;
                font-size: 18px;
            }


            &-line {
                width: 100%;
                height: 1px;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) -10%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 100%);
                margin-top: 50px;
                opacity: 0.3;
            }
        }
    }

    &-rating {
        .rating-icon {
            color: #C9C9C9;
            font-size: 16px;
            display: flex;
            gap: 4px;
        }
        .rating-text {
            font-size: 16px;
            color: #636262;
            margin-top: 14px;
        }
        
        
        .line {
            width: 100%;
            height: 1px;
            background: linear-gradient(90deg, rgba(0, 0, 0, 0) -10%, rgb(255, 255, 255) 50%, rgba(0, 0, 0, 0) 100%);
            margin-top: 18px;
            opacity: .3;
        }
    }


    &-preview-slider {
        padding: 12px 0px;

        &-single {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            border: 2px solid #7F7F7F;
            opacity: .5;
        }

        .swiper-wrapper {
            .swiper-slide {
                &:is(.swiper-slide-active) {
                    .nm-testimonial-2-preview-slider-single {
                        opacity: 1;
                        transform: scale(1.4);
                        border-color: #fff;
                    }
                }

            }
        }
    }
    

    &-content-slider {
        margin-top: 37px;

        &-single {
            font-size: 24px;
            font-weight: 500;
            color: #fff;
            text-align: center;

            @media #{$xl,$lg,$md,$xs} {
                font-size: 20px;
            }
        }
    }

    &-partner {
        .partner-title {
            font-size: 14px;
            color: #747474;
            margin-top: 22px;
        }

        .nm-partner-1-logo-mask {
            margin-top: 20px;
        }
    }
    
}
/* 
    testimonial-2-start
*/