/* 
    trial-2-start
*/
.nm-trial-2 {
    &-area {
        background-color: rgba(10, 10, 10, 0.8);
        border-radius: 80px 80px 0 0;

        &::after {
            content: "";
            width: 100px;
            height: 200px;
            border-radius: 50%;
            background: #fff;
            position: absolute;
            right: 0;
            top: -2%;
            filter: blur(61px);
            opacity: .3;
        }
    }

    &-sec-title {
        .subtitle {
            color: #fff;
            font-weight: 500;
            display: inline-flex;
            align-items: center;
            gap: 5px;

            i {
                font-size: 25px;
                color: #24FF00;
            }
        }

        .nm-sec-title-2 {
            margin-top: 15px;
        }

        .sec-disc {
            font-size: 17px;
            max-width: 520px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    &-wrap {
        max-width: 1005px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 30px;
        border: 1px solid rgb(255 255 255 / 20%);
        overflow: hidden;
        background-color: #000000;
        text-align: center;
        padding: 50px 50px;

        @media #{$md,$xs} {
            padding: 50px 20px;
        }

        .bg-shape {
            position: absolute;
            top: -30%;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: -1;
        }


        &::after {
            content: "";
            width: 150px;
            height: 3px;
            background: #fff;
            position: absolute;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
            border-radius: 3px;
        }
        
    }


    &-form {
        max-width: 455px;
        margin-left: auto;
        margin-right: auto;

        &-input {
            width: 100%;
            height: 75px;
            background: #0c0c0d;
            border: 1px solid rgb(255 255 255 / 20%);
            border-radius: 15px;
            padding: 030px;
            font-size: 16px;
            color: #7f7f7f;
        }

        &-btn {
            background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(127, 127, 127) 100%);
            color: #000;
            font-weight: 700;
            font-size: 15px;
            border-radius: 12px;
            padding: 14px 23px;
            position: absolute;
            right: 12px;
            top: 12px;
            transition: all .5s var(--nm-cube-1);

            &:hover {
                transform: scale(.90);
            }
        }


        
    }


    &-list {
        display: inline-flex;
        gap: 15px 45px;

        @media #{$md,$xs} {
            flex-wrap: wrap;
        }

        li {
            font-size: 17px;
            display: flex;
            align-items: center;
            gap: 10px;

            i {
                background: linear-gradient(0deg, rgb(100, 100, 100) 0%, rgb(255, 255, 255) 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 20px;
            }
        }
    }

    &-counter {
        max-width: 830px;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;


        @media #{$md} {
            grid-template-columns: 1fr 1fr;
        }
        @media #{$xs} {
            grid-template-columns: 1fr ;
        }
        @media #{$sm} {
            grid-template-columns: 1fr 1fr;
        }

        &-single {
            background: linear-gradient(90deg, rgb(20, 20, 20) 0%, rgb(67, 67, 67) 100%);
            border: 1px solid rgb(255 255 255 / 15%);
            border-radius: 20px;
            display: flex;
            align-items: center;
            padding: 28px 30px;
            text-align: left;
            gap: 15px;

            .number {
                font-size: 48px;
                flex: 0 0 auto;
                line-height: 1;
            }

            .disc {
                font-size: 16px;
            }
        }
    }
    
}




/* 
    trial-2-end
*/