

@font-face {
    font-family: "flaticon_kuka";
    src: url("../fonts/flaticon_kuka.woff2?e9e7f83dd423febba2540d4d587aeb6c") format("woff2"),
url("../fonts/flaticon_kuka.woff?e9e7f83dd423febba2540d4d587aeb6c") format("woff"),
url("../fonts/flaticon_kuka.eot?e9e7f83dd423febba2540d4d587aeb6c#iefix") format("embedded-opentype"),
url("../fonts/flaticon_kuka.ttf?e9e7f83dd423febba2540d4d587aeb6c") format("truetype"),
url("../fonts/flaticon_kuka.svg?e9e7f83dd423febba2540d4d587aeb6c#flaticon_kuka") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_kuka !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-play-button-arrowhead:before {
    content: "\f101";
}
.flaticon-atom:before {
    content: "\f102";
}
.flaticon-dollars-money-bag:before {
    content: "\f103";
}
.flaticon-google-hangouts-logo:before {
    content: "\f104";
}
.flaticon-play-button:before {
    content: "\f105";
}
.flaticon-strategy:before {
    content: "\f106";
}
.flaticon-search:before {
    content: "\f107";
}
.flaticon-tick:before {
    content: "\f108";
}
.flaticon-down-arrow:before {
    content: "\f109";
}
.flaticon-maps-and-flags:before {
    content: "\f10a";
}
.flaticon-industry:before {
    content: "\f10b";
}
.flaticon-industry-1:before {
    content: "\f10c";
}
.flaticon-idea:before {
    content: "\f10d";
}
.flaticon-support:before {
    content: "\f10e";
}
.flaticon-home:before {
    content: "\f10f";
}
.flaticon-rating:before {
    content: "\f110";
}
.flaticon-rating-1:before {
    content: "\f111";
}
.flaticon-shield:before {
    content: "\f112";
}
.flaticon-presentation:before {
    content: "\f113";
}
.flaticon-check-mark:before {
    content: "\f114";
}
.flaticon-arrows:before {
    content: "\f115";
}
.flaticon-planning:before {
    content: "\f116";
}
.flaticon-theater:before {
    content: "\f117";
}
.flaticon-bell:before {
    content: "\f118";
}
.flaticon-star:before {
    content: "\f119";
}
.flaticon-touch:before {
    content: "\f11a";
}
.flaticon-gear:before {
    content: "\f11b";
}
.flaticon-heart:before {
    content: "\f11c";
}
.flaticon-wallet:before {
    content: "\f11d";
}
.flaticon-heart-1:before {
    content: "\f11e";
}
.flaticon-down:before {
    content: "\f11f";
}
.flaticon-layers:before {
    content: "\f120";
}
.flaticon-medal:before {
    content: "\f121";
}
.flaticon-hut:before {
    content: "\f122";
}
.flaticon-contact-mail:before {
    content: "\f123";
}
.flaticon-next:before {
    content: "\f124";
}
.flaticon-strategy-1:before {
    content: "\f125";
}
.flaticon-target:before {
    content: "\f126";
}
.flaticon-shopping-cart:before {
    content: "\f127";
}
.flaticon-chess:before {
    content: "\f128";
}
.flaticon-vision:before {
    content: "\f129";
}
.flaticon-agriculture:before {
    content: "\f12a";
}
.flaticon-contract:before {
    content: "\f12b";
}
.flaticon-finish-line:before {
    content: "\f12c";
}
.flaticon-edit:before {
    content: "\f12d";
}
.flaticon-target-1:before {
    content: "\f12e";
}
.flaticon-add-friend:before {
    content: "\f12f";
}
.flaticon-operational-risk:before {
    content: "\f130";
}
.flaticon-house:before {
    content: "\f131";
}
.flaticon-stock-exchange-app:before {
    content: "\f132";
}
.flaticon-correct:before {
    content: "\f133";
}
.flaticon-connect:before {
    content: "\f134";
}
.flaticon-category:before {
    content: "\f135";
}
.flaticon-new-page:before {
    content: "\f136";
}
.flaticon-traveling:before {
    content: "\f137";
}
.flaticon-strategy-2:before {
    content: "\f138";
}
.flaticon-blog:before {
    content: "\f139";
}
.flaticon-acceptable-risk:before {
    content: "\f13a";
}
.flaticon-wreath:before {
    content: "\f13b";
}
.flaticon-growth:before {
    content: "\f13c";
}
.flaticon-case:before {
    content: "\f13d";
}
.flaticon-abstract:before {
    content: "\f13e";
}
.flaticon-abstract-1:before {
    content: "\f13f";
}
.flaticon-financial-report:before {
    content: "\f140";
}
.flaticon-on-time:before {
    content: "\f141";
}
.flaticon-donut-chart:before {
    content: "\f142";
}
.flaticon-stripe:before {
    content: "\f143";
}
.flaticon-visa:before {
    content: "\f144";
}
.flaticon-twitter:before {
    content: "\f145";
}
.flaticon-video-editor:before {
    content: "\f146";
}
.flaticon-abstract-shape:before {
    content: "\f147";
}
.flaticon-consultant-services:before {
    content: "\f148";
}
.flaticon-online-support:before {
    content: "\f149";
}
.flaticon-brifcase:before {
    content: "\f14a";
}
.flaticon-case-1:before {
    content: "\f14b";
}
.flaticon-line-chart:before {
    content: "\f14c";
}
.flaticon-user-avatar:before {
    content: "\f14d";
}
.flaticon-up:before {
    content: "\f14e";
}
.flaticon-down-arrow-1:before {
    content: "\f14f";
}
.flaticon-milestone:before {
    content: "\f150";
}
.flaticon-brifcase-1:before {
    content: "\f151";
}
.flaticon-renewable-energy:before {
    content: "\f152";
}
.flaticon-layer:before {
    content: "\f153";
}
.flaticon-check-list:before {
    content: "\f154";
}
.flaticon-paper-plane:before {
    content: "\f155";
}
.flaticon-customer-service:before {
    content: "\f156";
}
.flaticon-rocket:before {
    content: "\f157";
}
.flaticon-industry-2:before {
    content: "\f158";
}
.flaticon-rating-2:before {
    content: "\f159";
}
.flaticon-star-1:before {
    content: "\f15a";
}
.flaticon-call:before {
    content: "\f15b";
}
.flaticon-review:before {
    content: "\f15c";
}
.flaticon-shape:before {
    content: "\f15d";
}
.flaticon-conversation:before {
    content: "\f15e";
}
.flaticon-time:before {
    content: "\f15f";
}
.flaticon-savings:before {
    content: "\f160";
}
.flaticon-star-2:before {
    content: "\f161";
}
.flaticon-market-analysis:before {
    content: "\f162";
}
.flaticon-gear-assembly:before {
    content: "\f163";
}
.flaticon-right-arrow:before {
    content: "\f164";
}
.flaticon-checkmarks:before {
    content: "\f165";
}
.flaticon-home-agreement:before {
    content: "\f166";
}
.flaticon-approve:before {
    content: "\f167";
}
.flaticon-check:before {
    content: "\f168";
}
.flaticon-graphic-design:before {
    content: "\f169";
}
.flaticon-consulting:before {
    content: "\f16a";
}
.flaticon-app-development:before {
    content: "\f16b";
}
.flaticon-team:before {
    content: "\f16c";
}

