/* 
    home-5-start
*/

:root {
    --nm-font-3: "Mona Sans", sans-serif;


    --nm-clr-pr-5: #FD3F00;

}

@media (min-width: 1400px) {
    .container{
        &.nm-container-5 {
            max-width: 1384px;
        }
    }
}


.nm-pr-btn-5 {
    font-family: var(--nm-font-1);
    color: #fff;
    text-transform: uppercase;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.01em;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 8px;
    background: #000;
    padding: 4px;
    padding-right: 16px;
    border-radius: 12px;
    align-items: center;

    .icon {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--nm-clr-pr-5);
        border-radius: 10px;
    }

    &:is(.has-white) {
        background-color: #fff;
        color: #000;
    }
}

.nm-h-5 {
    font-family: var(--nm-font-1);
    font-weight: 500;
    color: #000;
    line-height: 1.272;
    letter-spacing: -0.01em;
    margin-bottom: 0;
}

.nm-p-5 {
    font-family: var(--nm-font-2);
    font-weight: 400;
    color: #000;
    line-height: 150%;
    margin-bottom: 0;
}


.nm-subtitle-5 {
    font-family: var(--nm-font-2);
    font-weight: 600;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: -0.02em;
    padding-left: 18px;
    position: relative;
    z-index: 1;
    margin-bottom: 15px;
    color: #000;

    &::after {
        content: "";
        width: 10px;
        height: 10px;
        background: var(--nm-clr-pr-5);
        position: absolute;
        top: 7px;
        left: 0;
        border-radius: 50%;
    }

    .number {
        color: var(--nm-clr-pr-5);
    }

    &:is(.has-white) {
        color: #fff;
    }
}

.nm-sec-title-5 {
    font-family: var(--nm-font-1);
    line-height: 120%;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: -0.02em;
    margin-bottom: 0;
    color: #000;

    span {
        display: inline;
        opacity: 60%;
    }


    &:is(.has-white) {
        color: #fff;
    }

    @media #{$xxl} {
        font-size: 40px;
    }

    @media #{$xl} {
        font-size: 36px;
    }

    @media #{$lg} {
        font-size: 34px;
    }

    @media #{$xs} {
        font-size: 30px;
    }

    @media #{$md} {
        font-size: 32px;
    }
}



.nm-header-5 {
    &-area {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 3;

        .bg-shape {
            position: absolute;
            top: 0;
            left: 0;
            height: 125px;
            width: 51%;
            z-index: -1;

            @media #{$xxxl} {
                width: 62%;
            }

            @media #{$xxl} {
                width: 65%;
            }

            @media #{$xl} {
                width: 76%;
            }
        }
    }
    &-wrap {
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        padding-right: 20px;
        padding-left: 32px;
        display: flex;
        align-items: center;
        gap: 100px;


        @media #{$lg,$md,$xs} {
            padding-top: 8px;
            padding-bottom: 8px;
        }

 
    }

    &-action-link {
        display: inline-flex;
        gap: 20px;
        margin-left: auto;

        .nm-offcanvas-btn-1 {
            background-color: var(--nm-clr-pr-5);
            width: 48px;
            height: 48px;
            border-radius: 10px;
        }

        .nm-pr-btn-5  {
            @media #{$xs} {
                display: none;
            }
            @media #{$sm} {
                display: inline-flex;
            }
        }
    }
}

.nm-main-navigation  {
    &:is(.has-header-5) {
        .navbar-nav {
            gap: 32px;
            li {
                a {
                    font-size: 18px;
                    font-weight: 500;
                    text-transform: uppercase;
                    padding: 24px 0;
                }

                &:is(.dropdown) {
                    > a {
                        padding-right: 22px;
    
                        &::before {
                            display: block;
                            content: "\f058";
                            font-family: "Font Awesome 6 free";
                            font-weight: 700;
                            position: absolute;
                            font-size: 15px;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            color: var(--nm-clr-pr-5);
                        }
                    }
                }

                &:hover {
                    > a {
                        color: var(--nm-clr-pr-5);
                    }
                }

                .dropdown-menu {
                    border-color: var(--nm-clr-pr-5);
                }
            }
        }
    }

}


.nm-hero-5 {
    &-area {
        background-color: #FFAD5C;
        padding-top: 100px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 0 0 60px 60px;
    }

    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        margin-left: -180px;
        margin-right: -290px;

        @media #{$xxxl} {
            grid-template-columns: 1fr 1.2fr;
            margin-left: -80px;
            margin-right: -90px;
        }

        @media #{$xxl} {
            grid-template-columns: 1fr 1.2fr;
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$xl} {
            grid-template-columns: 1fr 1fr;
            margin-left: 0px;
            margin-right: 0px;
        }

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
            margin-left: 0px;
            margin-right: 0px;
        }
    }
    
    &-left {
        margin-top: 75px;
    }

    &-right {
        position: relative;
        z-index: 1;
    }
    
    &-img {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;

        @media #{$lg} {
            width: 89%;
        }

        @media #{$md,$xs} {
            width: 100%;
        }
    }

    &-partner {
        position: relative;
        z-index: 1;
        display: inline-block;
        padding: 0 40px;
        padding-bottom: 11px;
        margin-bottom: 32px;

        .title {
            font-size: 15px;
            margin-bottom: 12px;
        }
        

        .leaf-img-1 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        
        .leaf-img-2 {
            position: absolute;
            right: 0;
            bottom: 0;
        }
        
        .logo-elm {
            display: flex;
            align-items: center;
            gap: 12px;
            justify-content: center;
        }
        
    }

    &-title {
        font-weight: 700;
        font-size: 72px;
        line-height: 1.138;
        letter-spacing: -0.04em;
        margin-bottom: 12px;

        @media #{$xxl} {
            font-size: 65px;
        }

        @media #{$xl} {
            font-size: 60px;
        }

        @media #{$lg} {
            font-size: 60px;
        }
        @media #{$md} {
            font-size: 55px;
        }
        @media #{$xs} {
            font-size: 40px;
        }
        @media #{$sm} {
            font-size: 50px;
        }
    }

    &-disc {
        font-size: 18px;
        line-height: 150%;
        margin-bottom: 28px;
        max-width: 660px;
    }

    &-author {
        display: flex;
    
        .single-img {
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border: 2px solid #FFAD5C;

            &:not(:first-child) {
                margin-left: -17px;
            }
        }

        .plus-elm {
            width: 48px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--nm-clr-pr-5);
            border-radius: 50%;
            border: 2px solid #FFAD5C;
            color: #fff;
            margin-left: -17px;
        }
    }


    &-content {
        margin-bottom: 50px;

        &-btn {
            display: flex;
            align-items: center;
            gap: 24px;
            flex-wrap: wrap;
            margin-bottom: 100px;

            .btn-disc {
                max-width: 155px;
                font-size: 16px;
                text-transform: uppercase;
            }
        }
    }

    &-contact {
        max-width: 408px;
    
        .disc {
            font-size: 24px;
            margin-bottom: 16px;

            span {
                opacity: 50%;
                display: inline;
            }
        }
    
        .dvr-line {
            height: 1.5px;
            width: 100%;
            background: #000;
            opacity: 40%;
            margin-bottom: 15px;
        }
    
        .title-x-social {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 20px;
            justify-content: space-between;
        }
    
        .title-elm {
            font-size: 24px;
        }
        
    
        .social-elm {
            display: flex;
            align-items: center;
            gap: 14px;
    
            &-single {
                font-size: 20px;
            }
        }
    }


    &-speed {
        border-radius: 40px;
        border: 2px solid #fff;
        height: 772px;
        max-width: 715px;
        margin-left: auto;
        margin-right: 180px;
        margin-bottom: 50px;
        display: flex;
        align-items: end;
        overflow: hidden;

        @media #{$xxxl,$xxl,$xl,$lg} {
            margin-right: 0;
        }

        @media #{$md} {
            margin-right: auto;
            max-width: 100%;
            width: 100%;
        }

        @media #{$xs} {
            margin-right: auto;
            max-width: 100%;
            width: 100%;
            height: 500px;
        }

        @media #{$sm} {
            margin-right: auto;
            max-width: 100%;
            width: 100%;
            height: 522px;
        }

        &-content {
            background: rgba(0, 0, 0, 0.12);
            backdrop-filter: blur(18px);
            border-radius: 40px;
            width: 100%;
            padding: 32px 32px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @media #{$xs} {
                padding: 32px 22px;
                flex-wrap: wrap;
                gap: 30px;
            }

            @media #{$sm} {
                padding: 32px 32px;
                flex-wrap: nowrap;
                gap: 30px;
            }

            .title {
                font-size: 20px;
                color: #fff;
                text-transform: uppercase;
                display: inline-flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 20px;

                .title-shape {
                    display: inline-flex;

                    &-dot {
                        width: 8px;
                        height: 8px;
                        background-color: #fff;
                        border-radius: 32px;

                        &:nth-child(2) {
                            width: 16px;
                            background-color: var(--nm-clr-pr-5);
                        }
                    }
                }
            }

            .number {
                color: var(--nm-clr-pr-5);
                font-weight: 700;
                line-height: 1;
                font-size: 80px;
                margin-bottom: 10px;

                @media #{$xxl,$xl,$lg,$md,$xs} {
                    font-size: 60px;
                }
            }

            .disc {
                color: #fff;
                font-size: 20px;
            }

            .speed-logo {
                width: 164px;
                height: 164px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, 0.1);
                border-radius: 28px;
            }
        }
    }
    
    
    
    
    
    
    
    
}


.nm-partner-5 {
    &-wrap {
        margin-left: -230px;
        margin-right: -230px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
        z-index: 1;

        @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
            margin-left: 0px;
            margin-right: 0px;
        }

        &::after {
            content: "";
            width: 50px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: #000;
        }
    }

    &-left {
        padding: 40px 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: #fff;
        border-radius: 25px;

        .border-shape {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 100%;
            z-index: 1;
        }

        &::after {
            content: "";
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: linear-gradient(90deg, #ffffff, transparent);
        }
    }

    &-right {
        padding: 40px 0;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: #fff;
        border-radius: 25px;

        .border-shape {
            position: absolute;
            left: 0;
            top: 0;
            width: 40px;
            height: 100%;
            z-index: 1;
        }

        &::after {
            content: "";
            width: 100px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
            background: linear-gradient(-90deg, #ffffff, transparent);
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        gap: 48px;
        margin-right: 48px;

        .single-logo {
            flex: 0 0 auto;
        }
        
    }
}

.nm-about-5 {
    &-area {
        background-color: #000;
    }
    &-wrap {
        display: grid;
        grid-template-columns: 1fr 1.37fr;
        gap: 48px;

        @media #{$lg,$md,$xs} {
            grid-template-columns: 1fr;
        }
    }

    &-sec-title {
        margin-left: -140px;
        @media #{$lg,$md,$xs} {
            margin-left: 0px;
        }
    }

    &-img {
        width: 100%;
        height: 656px;
        mask-image: url(../img-3/about/a1-mask-img.png);
        mask-size: 100% 100%;

        @media #{$lg,$md,$xs} {
            max-width: 700px;
        }

        @media #{$xs} {
            height: 356px;
            max-width: 700px;
        }

        @media #{$sm} {
            height: 656px;
            max-width: 700px;
        }
    }


    &-author {
        display: flex;
        align-items: center;
        gap: 16px;
        max-width: 300px;
        flex-wrap: wrap;
        margin-top: -65px;

        @media #{$xs} {
            margin-top: 15px;
        }

        @media #{$sm} {
            margin-top: -65px;
        }
        
        .img-elm {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            flex: 0 0 auto;
        }

        .name {
            font-size: 20px;
            display: block;
            color: #fff;
        }

        .bio {
            font-size: 16px;
            font-weight: 500;
            opacity: 80%;
            color: #fff;
        }
    }

    &-right {
        &-inner {
            border-top: 1px solid rgba(71, 71, 71, 0.7);
            display: grid;
            grid-template-columns: 1fr 1.23fr;
            gap: 24px;

            @media #{$xs} {
                grid-template-columns: 1fr;
            }


            .left-side {
                border-right: 1px solid rgba(71, 71, 71, 0.7);

                @media #{$xs} {
                    border-right: none;
                }
            }

            .right-disc {
                color: #fff;
                opacity: 80%;
                padding-right: 32px;
                margin-bottom: 32px;
            }
        }
    }



    &-counter {
        border-bottom: 1px solid rgba(71, 71, 71, 0.7);
        padding: 44px 0;
        padding-top: 42px;
        margin-bottom: 44px;

        .number {
            color: #fff;
            font-weight: 700;
            line-height: 1;
            font-size: 80px;
            margin-bottom: 10px;

            @media #{$xxl,$xl,$lg,$md,$xs} {
                font-size: 60px;
            }
        }

        .disc {
            color: #fff;
            text-transform: uppercase;
            opacity: 80%;
            max-width: 200px;
        }
    }


    &-features {
        margin-top: 24px;

        &-single {
            text-align: center;
            position: relative;
            z-index: 1;
            padding: 24px 32px;
            padding-top: 0;
            height: 174px;
            overflow: hidden;
            border-radius: 30px;
            cursor: pointer;
            transition: .4s var(--nm-cube-1);

            &::after {
                content: "";
                width: 100%;
                height: 50%;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: var(--nm-clr-pr-5);
                z-index: -2;
                transition: .4s var(--nm-cube-1);
                opacity: 0;
            }

            &:not(:last-child) {
                margin-bottom: 28px;
            }


            .icon-elm {
                width: 60px;
                height: 60px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: var(--nm-clr-pr-5);
                border-radius: 17px;
                margin-bottom: 40px;
                transition: .3s var(--nm-cube-1);
                svg {
                    * {
                        fill: #fff;
                        transition: .4s var(--nm-cube-1);
                    }
                }
            }

            .bg-shape {
                position: absolute;
                top: 30px;
                left: 0;
                width: 101%;
                z-index: -1;

                path {
                    transition: .4s var(--nm-cube-1);
                }

            }

            .title {
                color: #fff;
                font-size: 24px;
                letter-spacing: -0.03em;
                margin-bottom: 12px;
            }

            .disc {
                color: #fff;
                font-size: 16px;
                opacity: 0;
                transition: .4s var(--nm-cube-1);
            }

            &:is(.active) {
                height: 239px;

                &::after {
                    opacity: 1;
                }

                .bg-shape {
                    path {
                        fill: var(--nm-clr-pr-5)
                    }
                }

                .disc {
                    opacity: 1;
                }

                .icon-elm {
                    background-color: #fff;

                    svg {
                        * {
                            fill: var(--nm-clr-pr-5);
                        }
                    }
                }
            }
        }
    }
    
    
}

.nm-services-5 {
    &-container {
        max-width: 1130px;
        margin-left: auto;
        margin-right: auto;
    }
    &-sec-title {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        flex-wrap: wrap;

        .right {
            max-width: 415px;
        }

        .left {
            max-width: 480px;
        }

        .sec-disc {
            font-size: 17px;
            margin-bottom: 24px;
        }
    }


    &-accordion {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &-item {
            background-color: #EFEFEF;
            border-radius: 16px;
            padding: 4px;

            .item-title {
                width: 100%;
                background-color: #fff;
                text-align: start;
                padding: 16px;
                padding-right: 32px;
                border-radius: 13px;
                display: flex;
                gap: 24px;
                align-items: center;
                font-size: 32px;
                text-transform: uppercase;

                @media #{$lg,$md,$xs} {
                    font-size: 22px;
                }

                .icon {
                    width: 70px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #EFEFEF;
                    border-radius: 14px;
                    transition: .4s var(--nm-cube-1);
                    svg * {
                        stroke: #000;
                        fill: transparent;
                        transition: .4s var(--nm-cube-1);
                    }

                }

                .text {
                    margin-left: auto;
                }

                &:is(:not(.collapsed)) {
                    .icon {
                        background-color: var(--nm-clr-pr-5);
                        svg * {
                            stroke: #fff;
                        }
                    }
    
                }
    
                &:is(.collapsed) {
                    &:hover {
                    }
                }
            }


            .content-wrap {
                background-color: #fff;
                border-radius: 13px;
                margin-top: 4px;
                padding: 16px;
                padding-left: 36px;
                gap: 55px;
                display: grid;
                grid-template-columns: 1fr 1.16fr;
                align-items: center;

                @media #{$xs} {
                    grid-template-columns: 1fr;
                    padding: 12px;
                }

                .img-elm {
                    border-radius: 20px;
                    height: 344px;
                }

                .disc {
                    font-size: 17px;
                    margin-bottom: 32px;
                }

                .features-list {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    margin-bottom: 50px;

                    li {
                        display: flex;
                        align-items: center;
                        gap: 8px;
                        font-size: 17px;
                        color: #474747;
                    }
                }
            }
            
        }
    }
}


.nm-trust-5 {
    &-area {
        background-color: #000;
    }

    &-sec-title {
        max-width: 570px;
        margin-left: auto;
        margin-right: auto;
    }


    &-wrap {
        margin-left: -180px;
        margin-right: -180px;
        gap: 12px;
        display: grid;
        grid-template-columns: 1fr 3.27fr;
        align-items: start;

        @media #{$xxxl} {
            margin-left: 0px;
            margin-right: 0px;
        }

        &-left {
            display: grid;
            gap: 12px;
        }

        &-right {
            &-row-1 {
                gap: 12px;
                grid-template-columns: 2.24fr 1fr;
                display: grid;
                align-items: start;
                margin-bottom: 12px;
            }
            &-row-2 {
                gap: 12px;
                grid-template-columns: 1.24fr 1fr;
                display: grid;
                align-items: start;
            }

        }
    }

    &-fast {
        min-height: 448px;
        overflow: hidden;
        border-radius: 30px;
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .bg-video {
            position: absolute;
            inset: 0;
            z-index: -1;
        }

        .title {
            font-size: 32px;
            color: #fff;
            font-weight: 700;

            @media #{$xxxl,$xxl,$xl,$lg,$md,$xs} {
                font-size: 26px;
            }
        }

        .disc {
            font-weight: 500;
            color: #fff;
        }
    }


    &-safe {
        background-color: var(--nm-clr-pr-5);
        border-radius: 30px;
        padding: 32px;
        min-height: 316px;
        overflow: hidden;

        .title {
            font-size: 32px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 14px;
        }

        .disc {
            font-size: 16px;
            color: #fff;
            font-weight: 600;
        }

        .bg-icon {
            position: absolute;
            right: -120px;
            bottom: -87px;
            width: 76%;
            z-index: -1;
        }
        

        .bg-favicon {
            width: 48%;
            position: absolute;
            bottom: -65px;
            left: -34px;
        }
    }


    &-best {
        background-color: #191919;
        border-radius: 30px;
        border: 1px solid #2D2D2D;
        padding: 32px 32px;

        .title {
            color: #fff;
            font-size: 32px;
            font-weight: 700;
            margin-bottom: 12px;
        }
        .disc {
            color: #fff;
        }

        .content-wrap {
            display: flex;
            justify-content: space-between;

            &-left {
                max-width: 330px;
            }

            &-logo {
                padding: 15px 8px;
                padding-left: 0;

                .row-1 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;
                    justify-content: center;
                    margin-bottom: 56px;

                    .single-logo {
                        &:nth-child(1) {
                            transform: translateY(10px);
                        }
                        &:nth-child(3) {
                            transform: translateY(10px);
                        }
                    }
                }
                .row-2 {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 40px;
                    justify-content: center;

                    .single-logo {
                        &:nth-child(2) {
                            transform: translateY(-10px);
                        }
                        &:nth-child(4) {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }

    
    &-support {
        border-radius: 30px;
        padding: 24px;
        padding-top: 32px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        .title {
            font-size: 24px;
            font-weight: 700;
            max-width: 266px;
            margin-bottom: 20px;
        }

        .online {
            padding-left: 22px;
            font-size: 17px;
            font-weight: 500;
            position: relative;
            z-index: 1;
            margin-left: 180px;
            margin-bottom: 29px;

            &::after {
                content: "";
                width: 14px;
                height: 14px;
                background-color: var(--nm-clr-pr-5);
                position: absolute;
                top: 5px;
                left: 0;
                border-radius: 50%;
                opacity: 30%;
            }

            &::before {
                content: "";
                width: 8px;
                height: 8px;
                background-color: var(--nm-clr-pr-5);
                position: absolute;
                top: 8px;
                left: 3px;
                border-radius: 50%;
            }
        }

        .bg-img {
            width: 58%;
            position: absolute;
            right: -40px;
            bottom: 0;
            z-index: -1;
        }

        .nm-pr-btn-5 {
            background-color: #fff;
            max-width: 266px;
            width: 100%;
            justify-content: space-between;
        }
    }
    
    &-rating {
        background-color: #EFEFEF;
        border-radius: 30px;
        padding: 32px;
        position: relative;
        z-index: 1;
        min-height: 524px;
        overflow: hidden;

        .content-wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 20px;

            &-left {
                max-width: 374px;
            }
        }

        .rating {
            display: flex;
            gap: 4px;
            color: var(--nm-clr-pr-5);
            font-size: 22px;
            margin-bottom: 14px;
        }

        .rating-number {
            font-weight: 700;
            font-size: 48px;

            span {
                font-size: 18px;
            }
        }

        .disc {
            color: #191919;
            font-weight: 500;
        }

        .bg-favicon {
            width: 25%;
            text-align: center;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -80px;
            z-index: -1;
        }

        .author-img-1 {
            position: absolute;
            bottom: -568px;
            left: 50%;
            transform: translateX(-50%);
            width: 130%;
            z-index: -1;
            text-align: center;
        }
        
        .author-img-2 {
            width: 90%;
            position: absolute;
            bottom: -434px;
            transform: translateX(-50%);
            left: 50%;
            z-index: -1;
        }

    }
    
    &-solutions {
        background-color: #191919;
        border: 1px solid #2D2D2D;
        border-radius: 30px;
        padding: 32px 32px;
        padding-bottom: 48px;
        position: relative;
        z-index: 1;

        .title {
            font-size: 32px;
            color: #fff;
            font-weight: 700;
            max-width: 400px;
            margin-bottom: 32px;
        }


        .features-list {
            display: flex;
            flex-direction: column;
            gap: 9px;
            margin-bottom: 32px;

            li {
                font-size: 16px;
                font-weight: 500;
                color: #fff;
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }

        .nm-pr-btn-5  {
            background-color: var(--nm-clr-pr-5);
            .icon {
                background-color: #fff;
            }
        }

        .disc {
            font-weight: 500;
            color: #fff;
        }


        .btn-wrap {
            margin-bottom: 66px;
        }


        .bg-img {
            width: 51%;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: -1;
        }
        
    }
    
    
}
/* 
    home-5-end
*/