/* 
    home-css-start
*/
.nm-home-1 {
    background-color: var(--nm-clr-black-2);
}
.nm-home-2{
    background-color: #0e0e0e;
    // position: relative;
    // z-index: 1;

    // &::after {
    //     content: "";
    //     width: 100%;
    //     height: 100%;
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: #0e0e0e;
    //     opacity: 0.9;
    //     z-index: -1;
    // }

    .wa-cursor {
        &::before {
            background: #fff;
            border-color: #fff;
        }

        &:is(.-pointer) {
            &::before {
                background: transparent;
            }
        }
    }
}

.nm-home-3 {
    .wa-cursor {
        &::before {
            background: var(--nm-clr-gd-3);
            border-color: var(--nm-clr-pr-3);
        }

        &:is(.-pointer) {
            &::before {
                background: transparent;
            }
        }
    }
}



.nm-home-3 {
    background-color: #0e0e0e;
}
/* 
    home-css-end
*/