/* 
    home-css-start
*/
.nm-home-1 {
    background-color: var(--nm-clr-black-2);
}
.nm-home-2{
    background-color: #0e0e0e;

    .wa-cursor {
        &::before {
            background: #fff;
            border-color: #fff;
        }

        &:is(.-pointer) {
            &::before {
                background: transparent;
            }
        }
    }
}

.nm-home-3 {
    .wa-cursor {
        &::before {
            background: var(--nm-clr-gd-3);
            border-color: var(--nm-clr-pr-3);
        }

        &:is(.-pointer) {
            &::before {
                background: transparent;
            }
        }
    }
}



.nm-home-3 {
    background-color: #0e0e0e;
}
/* 
    home-css-end
*/