/* 
    home-css-start
*/
.nm-home-1 {
    background-color: var(--nm-clr-black-2);
}
.nm-home-2{
    position: relative;
    z-index: 1;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0e0e0e;
        opacity: 0.9;
        z-index: -1;
    }
}

.home-3-bg {
    position: relative;
    z-index: 1;
    border-radius: 60px 60px 0 0;
    margin-top: -50px;
    overflow: hidden;
    

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0e0e0e;
        opacity: 0.9;
        z-index: -1;
    }
}
/* 
    home-css-end
*/